<div class="service-card-container">
  <div class="service-data">
    <div class="service-profile-data">
      <mat-icon class="profile-icon">support_agent</mat-icon>
      <span class="fw-bold t-emphasis">{{data.assistantName}}</span>
    </div>
    <div class="service-info">
      <!--<pre class="t-muted"> {{data | json }}</pre>-->
      <span class="fw-bold t-emphasis">Assigned services:</span>
      <ul class="service-list-container">
        <ng-container *ngFor="let service of data.serviceOffer">

          <li>
            <div class="service-item-container">
              <span class="t-emphasis">{{service.name}}</span>
              <!--<span class="fw-bold">{{service.uuid}}</span>-->
              <span class="t-muted">$ {{service.price}}</span>
              <span class="t-muted">{{service.minutes}} {{TranslationCodes.TC_MINUTES_LABEL | translate}}</span>
            </div>

          </li>


        </ng-container>
      </ul>
    </div>
  </div>
  <div class="service-buttons">
    <button class="button bordered">
      {{TranslationCodes.TC_EDIT_BUTTON_LABEL | translate}}
    </button>
  </div>
</div>
