@use '../../../../../styles/mixins.scss' as mixins;
@use '../../../../../styles/variables.scss' as variables;
@use '../../../../../styles/breakpoints.scss' as breakpoints;

.service-card-container {
  width: 100%;
  // max-height: 200px;
  padding: variables.$padding-md;
  position: relative;
}

.service-data {
  display: flex;
  gap: variables.$spacing-small;
  width: 100%;

  .service-profile-data {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100px;
    gap:variables.$spacing-small;

    span {
      text-align: center;
      width: 100%;
    }

    .profile-icon {
      @include mixins.flex-center;
      font-size: 45px;
      height: 45px;
      color: variables.$text;
      width: 45px;
    }
  }

  .service-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}


.service-list-container {
  padding: variables.$padding-sm;
  // background-color: yellow;
  display: flex;
  flex-wrap: wrap;
  gap: variables.$spacing-small;
  list-style: none;

  .service-item-container {
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-small;
    padding: variables.$padding-sm;
    width: auto;
    border: variables.$border-width solid variables.$border;
    border-radius: variables.$border-radius-sm;

    span {
      width: auto;
      max-width: auto;
    }
  }



}


.service-buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: variables.$padding-md;

  .button {
    height: auto;
    padding: variables.$padding-sm;
  }
}
