@use '../../../../styles/variables.scss' as variables;
@use '../../../../styles/breakpoints.scss' as breakpoints;


/* 🔹 Estilo general del calendario */
:host ::ng-deep .fc {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  height: auto !important;
  color: variables.$text;

}

::ng-deep .fc-daygrid-day.day-selected {
  background-color: variables.$bg-selected !important;
}

::ng-deep .fc-daygrid-day.day-selected.fc-day-today {
  background-color: variables.$bg-selected !important;
}

:host ::ng-deep .fc-view-harness,
:host ::ng-deep .fc-daygrid-day-frame,
:host ::ng-deep .fc-scroller {
  padding: 0 !important;
  margin: 0 !important;
}

:host ::ng-deep .fc-theme-standard .fc-scrollgrid,
:host ::ng-deep .fc-theme-standard .fc-scrollgrid-section>td,
:host ::ng-deep .fc-theme-standard td,
:host ::ng-deep .fc-theme-standard th {
  border: none !important;
}

:host ::ng-deep .fc-daygrid-day-frame {
  border: 1px solid variables.$border;
  // border-radius: 5px;
  // border:0;

}

:host ::ng-deep .fc-col-header-cell {
  // border: 1px solid variables.$border !important;
  // border: 0;
  padding: variables.$padding-sm;
  background-color: variables.$bg;

  &:first-child {
    border-top-left-radius: variables.$border-radius-sm;
  }

  &:last-child {
    border-top-right-radius: variables.$border-radius-sm;

  }
}

:host ::ng-deep .fc-scroller {
  height: auto !important;
  max-height: auto !important;
}

:host ::ng-deep .fc-header-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: variables.$padding-sm;
  gap: variables.$spacing-md;
}

@media (max-width: 600px) {
  :host ::ng-deep .fc-header-toolbar {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }

  :host ::ng-deep .fc-toolbar-chunk {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  :host ::ng-deep .fc .fc-button-group,
  :host ::ng-deep .fc .fc-button {
    flex: 1 1 auto;
  }
}

:host ::ng-deep .fc-day-today {
  background-color: variables.$bg !important;
}

:host ::ng-deep .fc-event {
  border: none !important;
  background: variables.$bg-brand;
  // border-radius: 8px;
  padding: 2px 6px;
}

:host ::ng-deep .fc .fc-button {
  // background-color: variables.$bg;
  color: variables.$text;
  border: none;
  border-radius: variables.$border-radius-sm;
  padding: variables.$padding-sm;
  font-size: variables.$font-size-sm;
  cursor: pointer;
  background-color: transparent;
}

:host ::ng-deep .fc .fc-button:hover {
  // background-color: darken(variables.$primary, 10%);
  background-color: transparent;
}

:host ::ng-deep .fc .fc-button:active {
  // background-color: darken(variables.$primary, 20%);
  background-color: transparent;

}

:host ::ng-deep .fc .fc-button:disabled {
  // background-color: variables.$border;
  color: variables.$text;
  opacity: 0.6;
  cursor: not-allowed;

  background-color: transparent;
}

/* 🔹 Botón activo (ej: "dayGridMonth", "timeGridWeek") */
:host ::ng-deep .fc .fc-button.fc-button-active {
  background-color: variables.$bg-brand;
  color: #fff;
}
