@use "../../../../../styles/variables.scss" as variables;
@use "../../../../../styles/mixins.scss" as mixins;
@use "../../../../../styles/breakpoints.scss" as breakpoints;
@use "sass:math";

.admin-home-container {
  width: 100%;
  min-height: 100%;
  padding: variables.$padding-md;
  @include mixins.flex-center;
}

.admin-sections {
  text-decoration: none;
  width: variables.$container-md;

  ul {
    @include mixins.flex-center;
    list-style: none;
    flex-wrap: wrap;
    gap: variables.$spacing-medium;
  }

  li {
    width: calc(math.div(variables.$container-md, 4) - variables.$spacing-medium);
    height: calc(math.div(variables.$container-md, 4) - variables.$spacing-medium);
  }

  a {
    @include mixins.flex-start;
    flex-direction: column;
    text-decoration: none;
    border: variables.$border-width solid variables.$border;
    border-radius: variables.$border-radius-sm;
    width: 100%;
    height: 100%;

    &:hover {
      background-color: variables.$bg-subtle;
    }
  }

  .page-icon {
    @include mixins.flex-center;
    font-size: 50px;
    height: 60%;
    width: 100%;
    text-align: center;

    .icon {
      @include mixins.flex-center;
      height: 100%;
      width: 100%;
      font-size: 50px;
      color: variables.$text;
    }
  }

  span {
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }


}
