<div class="client-management-container">
  <div class="client-management-title">
    <h1>Asignación de servicios</h1>
  </div>

  <div class="client-management-actions">
    <div class="button-register">
      <button class="button" (click)="redirectToRegisterServiceOffer()">
        Asignar servicios
      </button>
    </div>
  </div>


  <div class="client-table-content">
    <div class="service-card-container" *ngFor="let data of serviceOffers">
      <div class="service-data">
        <div class="service-profile-data">
          <mat-icon class="profile-icon">support_agent</mat-icon>
          <span class="fw-bold t-emphasis">{{data.assistantName}}</span>
        </div>
        <div class="service-info">
          <span class="fw-bold t-emphasis">Servicios asignados:</span>
          <ul class="service-list-container">
            <ng-container *ngFor="let service of data.serviceOffer">
              <li>
                <div class="service-item-container">
                  <span class="t-emphasis">{{service.name}}</span>
                  <!--<span class="fw-bold">{{service.uuid}}</span>-->
                  <span class="t-muted">$ {{service.price}}</span>
                  <span class="t-muted">{{service.minutes}} {{TranslationCodes.TC_MINUTES_LABEL | translate}}</span>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>


  </div>
