@use '../../../styles/variables.scss' as variables;
@use '../../../styles/mixins.scss' as mixins;
@use '../../../styles/breakpoints.scss' as breakpoints;
@use 'sass:math';

.main-section {
  width: 100%;
  padding-right: variables.$padding-md;
  padding-left: variables.$padding-md;
  padding-top: variables.$padding-lg;
  padding-bottom: variables.$padding-lg;
  // max-width: variables.$container-md;
  // margin: auto;
}

.summary {
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  display: flex;
  gap: variables.$spacing-md;

  .summary-item {
    @include mixins.flex-start;
    flex-direction: column;
    // width: math.div(variables.$container-xs, 2);
    // width: 100%;
    gap: variables.$spacing-sm;
    ;
    padding: variables.$padding-md;
  }
}


.service-data {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;

  .service-header {
    display: flex;
    width: 100%;
    // background-color: red;
    align-items: center;
    gap: variables.$spacing-md;
    padding: variables.$padding-md;
    // border-bottom: 1px solid transparent;

    &.expanded {
      // border-bottom: 1px solid variables.$border-subtle;
    }

    button {
      background-color: transparent;
      border: 0;
      cursor: pointer;
      height: auto;
      width: auto;

      mat-icon {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1.5rem;
        transition: transform 0.3s ease;
      }

      &.clicked>mat-icon {
        transform: rotate(90deg);
      }
    }

    .service-title {
      width: 100%;
      display: flex;
      align-items: center;
      gap: variables.$spacing-base;
      // background-color: green
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem;
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  .service-info {
    max-height: 0;
    overflow: hidden;
    // transition: max-height 0.3s ease, padding 0.3s ease;
    transition: max-height 0.3s ease,
    opacity 0.3s ease,
    visibility 0.3s ease,
    #{variables.$color-transition};
    will-change: height, max-height;
    visibility: hidden;
    opacity: 0;
    width: 100%;

    &.expanded {
      max-height: 1000px;
      visibility: visible;
      opacity: 1;
    }


  }
}

.service-body-wrapper {
  // background-color: blue;
  padding: variables.$padding-md;
}


.service-list-container {
  padding: variables.$padding-sm;
  display: flex;
  flex-wrap: wrap;
  gap: variables.$spacing-base;
  list-style: none;

  .service-item-container {
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-sm;
    padding: variables.$padding-sm;
    width: auto;
    border: 1px solid variables.$border;
    border-radius: variables.$border-radius-sm;

    span {
      width: auto;
      max-width: auto;
    }
  }
}
