<div class="main-section">
  <h1 class="m-bottom-md">Asignación de servicios</h1>

  <section class="summary-data-management m-bottom-xl">
    <div class="summary-item card">
      <span class="t-muted">Resumen 1</span>
      <span class="fw-bold fs-xl">1</span>
    </div>
    <div class="summary-item card">
      <span class="t-muted">Resumen 2</span>
      <span class="fw-bold fs-xl">2</span>
    </div>
    <div class="summary-item card">
      <span class="t-muted">Resumen 3</span>
      <span class="fw-bold fs-xl">3</span>
    </div>
  </section>


  <section class="data-container">
    <div class="data-actions">
      <div class="input container max-w-xs">
        <label class="input-icon" for="search"><mat-icon>search</mat-icon></label>
        <input id="search" class="input" type="text" placeholder="Buscar..." />
      </div>
      <button class="button primary w-auto" (click)="redirectToRegisterServiceOffer()">
        Asignar servicios
      </button>
    </div>
    <div class="data-header">
      <span class="">Servicios asignados por asistente</span>
    </div>
    <div class="data-body table-type">
      <div class="service-data data-row-item accordion-type" *ngFor="let data of serviceOffers; let i = index">
        <div class="service-header" [class.expanded]="openedSlots.has(i)" (click)="toggleSlot(i)">
          <mat-icon class="icon">support_agent</mat-icon>
          <div class="service-title">
            <span class="t-emphasis t-center">{{data.assistantName}}</span>
          </div>
          <button [class.clicked]="openedSlots.has(i)">
            <mat-icon>
              keyboard_arrow_right
            </mat-icon>
          </button>
        </div>
        <div class="service-info" [class.expanded]="openedSlots.has(i)">
          <div class="service-body-wrapper accordion-body">
            <span class="t-muted m-bottom-base">Servicios asignados:</span>
            <ul class="service-list-container">
              <li *ngFor="let service of data.serviceOffer">
                <div class="service-item-container">
                  <span class="">{{service.name}}</span>
                  <span class="t-muted">Duración: {{service.minutes}} {{TranslationCodes.TC_MINUTES_LABEL |
                    translate}}</span>
                  <!--<span class="t-muted">$ {{service.price}}</span>-->
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
