@use '../../../styles/mixins.scss' as mixins;
@use '../../../styles/variables.scss' as variables;

.register-container {
  @include mixins.flex-center;
  flex-direction: column;
  width: 100%;
  height: auto;
}


.form {
  max-width: variables.$container-sm;
}
