<div class="register-container">

  <form class="form card" (ngSubmit)="onSubmit()">
    <div class="form-header">
      <h1 class="m-bottom-base">
        Registrar cliente
      </h1>
      <p>
        Rellena el formulario para añadir un nuevo cliente.
      </p>
    </div>
    <div class="form-body">
      <div class="form-input">
        <label for="username">
          Nombre de usuario
        </label>
        <input class="input" id="username" type="text" [(ngModel)]="username" name="username" required
          placeholder="Ingresa un nombre de usuario" />
        <app-error-validation-message-form [messages]="errorValidationMessage['username']" />
      </div>

      <div class="form-input">
        <label for="email">
          Correo electrónico
        </label>
        <input class="input" id="email" type="text" [(ngModel)]="email" name="email" required
          placeholder="Ingresa tu correo electrónico" />
        <app-error-validation-message-form [messages]="errorValidationMessage['email']" />
      </div>

      <div class="form-input">
        <label for="phoneNumber">
          Número de teléfono
        </label>
        <input class="input" id="phoneNumber" type="text" [(ngModel)]="phoneNumber" name="phoneNumber" required
          placeholder="Ingrea el número de teléfono" />
        <app-error-validation-message-form [messages]="errorValidationMessage['phonenumber']" />
      </div>

      <div class="form-input">
        <label for="name">
          Nombre completo:
        </label>
        <input class="input" id="name" type="text" [(ngModel)]="name" name="name" required
          placeholder="Ingresa el nombre completo" />
        <app-error-validation-message-form [messages]="errorValidationMessage['name']" />
      </div>

      <div class="form-input">
        <label for="password">
          Contraseña
        </label>
        <input class="input" id="password" type="password" [(ngModel)]="password" name="password" required
          placeholder="Ingresa una contraseña" />
        <app-error-validation-message-form [messages]="errorValidationMessage['password']" />
      </div>


    </div>
    <div class="form-footer">
      <app-button-task type="submit" [loadingState]="loadingState"
        [text]="translate(translationCodes.TC_REGISTER_BUTTON_LABEL)" />
    </div>

  </form>
</div>
