<div class="register-container">
  <h1>
    {{translate(translationCodes.TC_MANAGEMENT_CLIENT_REGISTER_DIRECTORY)}}
  </h1>
  <form class="form" (ngSubmit)="onSubmit()">

    <label for="username">
      {{ translate(translationCodes.TC_USERNAME_DATA_LABEL)}}
    </label>
    <input class="input" id="username" type="text" [(ngModel)]="username" name="username" required
      placeholder={{translate(translationCodes.TC_USERNAME_PLACEHOLDER_LABEL)}} />
    <app-error-validation-message-form [messages]="errorValidationMessage['username']" />

    <label for="email">
      {{ translate(translationCodes.TC_EMAIL_DATA_LABEL)}}
    </label>
    <input class="input" id="email" type="text" [(ngModel)]="email" name="email" required
      placeholder={{translate(translationCodes.TC_EMAIL_PLACEHOLDER_LABEL)}} />
    <app-error-validation-message-form [messages]="errorValidationMessage['email']" />


    <label for="phoneNumber">
      {{ translate(translationCodes.TC_PHONE_NUMBER_DATA_LABEL)}}
    </label>
    <input class="input" id="phoneNumber" type="text" [(ngModel)]="phoneNumber" name="phoneNumber" required
      placeholder={{translate(translationCodes.TC_PHONE_NUMBER_PLACEHOLDER_LABEL)}} />
    <app-error-validation-message-form [messages]="errorValidationMessage['phonenumber']" />


    <label for="name">
      {{ translate(translationCodes.TC_NAME_DATA_LABEL)}}
    </label>
    <input class="input" id="name" type="text" [(ngModel)]="name" name="name" required
      placeholder={{translate(translationCodes.TC_NAME_PLACEHOLDER_LABEL)}} />
    <app-error-validation-message-form [messages]="errorValidationMessage['name']" />


    <label for="password">
      {{ translate(translationCodes.TC_PASSWORD_DATA_LABEL)}}
    </label>
    <input class="input" id="password" type="password" [(ngModel)]="password" name="password" required
      placeholder={{translate(translationCodes.TC_PASSWORD_PLACEHOLDER_LABEL)}} />
    <app-error-validation-message-form [messages]="errorValidationMessage['password']" />


    <app-button-task type="submit" [loadingState]="currentTaskState"
      [text]="translate(translationCodes.TC_REGISTER_BUTTON_LABEL)" />
    <br>
    <br>
    {{translate(systemMessage ?? translationCodes.TC_EMPTY)}}
  </form>
</div>
