<div class="login-container">
  <h1>
    {{translate(translationCodes.TC_LOGIN)}}
  </h1>
  <form (ngSubmit)="onSubmit()">
    <label for="email">
      {{ translate(translationCodes.TC_ACCOUNT_DATA_LABEL)}}
    </label>
    <app-text-input id="account" type="account" [(ngModel)]="account" name="account" required
      placeholder={{translate(translationCodes.TC_ACCOUNT_PLACEHOLDER_LABEL)}} />


    <app-error-validation-message-form [messages]="errorValidationMessage['Account']" ></app-error-validation-message-form>

    <br>

    <label for="password">
      {{ translate(translationCodes.TC_PASSWORD_DATA_LABEL)}}
    </label>

    <app-text-input id="password" type="password" [(ngModel)]="password" name="password" required
      placeholder={{translate(translationCodes.TC_PASSWORD_PLACEHOLDER_LABEL)}} />

    <app-error-validation-message-form [messages]="errorValidationMessage['Password']"></app-error-validation-message-form>

    <br>

    <app-button type="submit" [disabled]="isLoading">
      {{translate(translationCodes.TC_LOGIN_BUTTON_LABEL)}}
    </app-button>
    {{translate(systemMessage ?? translationCodes.TC_EMPTY)}}
  </form>

  <br>

  <app-button (click)="signUp()">
    {{translate(translationCodes.TC_SIGN_UP_BUTTON_LABEL)}}
  </app-button>



</div>
