<button class="button" (click)="toggleSidebar()">☰</button>

<button class="button" (click)="logout()">
  {{translate(translationCodes.TC_LOGOUT_BUTTON_LABEL)}}
</button>

<button class="button" (click)="showNotifications()">
  Notificaciones {{ notificationsPendingNumber > 0 ? '(' + notificationsPendingNumber + ')' : '' }}
</button>



<app-dropdown></app-dropdown>

<button class="button" (click)="changeLanguageToEnglish()">To English</button>

<button class="button " (click)="changeLanguageToSpanish()">To Spanish</button>
