@use '../../../../styles/variables.scss' as variables;
@use '../../../../styles/mixins.scss' as mixins;
@use '../../../../styles/breakpoints.scss' as breakpoints;

.navbar {
  background-color: variables.$sidebar-background-color;
  height: variables.$header-height;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: variables.$spacing-large;
  padding-left: variables.$padding-md;
  padding-right: variables.$padding-xl;
  color: variables.$header-text-color;
}

// .navbar-logo {
// }

.navbar-logo>span {
  font-size: variables.$font-size-xlg;
  font-weight: variables.$font-weight-bold;
  // display:none;
  // width:0;
}

.navbar-toggle-button>button {
  border: 0;
  padding: 5px;
  background-color: transparent;
  color: variables.$header-text-color;
}

.navbar-actions {
  display: flex;
}



.notification {
  @include mixins.flex-center;
  // gap:15px;
}

.notification-icon {
  position: relative;
  // background-color: blue;
}

.notification-badge {
  background-color: variables.$danger-color;
  color: variables.$white-color;
  border-radius: variables.$border-radius-pill;
  font-size: variables.$font-size-sm;
  padding: 3px;
  font-weight: bold;
  position: absolute;
  left:calc(50% + 6px);
  top:-50%;
}

@include mixins.respond-to(breakpoints.$breakpoint-md) {
  .navbar-logo {
    display: block;
    width: auto;
    background-color: blue;
  }
}
