@use '../../../../styles/variables.scss' as variables;
@use '../../../../styles/mixins.scss' as mixins;
@use '../../../../styles/breakpoints.scss' as breakpoints;
@use "sass:math";

.grid-container {
  width: 100%;
  @include mixins.flex-center;
  flex-direction: column;

  .grid-header {
    width: 100%;
    display: flex;
    background-color: green;
    flex-direction: column;
    align-items: center;
    padding: variables.$padding-md;
  }
}

.grid-content {
  width: 100%;
  padding: variables.$padding-lg;
  display: flex;
  flex-direction: column;
  max-width: variables.$container-lg;
  gap: variables.$spacing-medium;
}
