<div class="grid-container">
  <div class="grid-header">
    <h2>{{ title }}</h2>
    <div class="filters">
      <input type="text" placeholder="Search..." />
      <select>
        <option>Filter 1</option>
        <option>Filter 2</option>
      </select>
    </div>
    <div class="orders">
      <select>
        <option>Order by </option>
      </select>
      <select>
        <option>Order by </option>
      </select>
      <select>
        <option>Order by </option>
      </select>

    </div>
  </div>

  <div class="grid-content">
    <ng-container *ngFor="let item of items">
      <ng-container *ngComponentOutlet="cardComponent; inputs: { data: item }">
      </ng-container>
    </ng-container>
  </div>
</div>
