<div class="grid-container">
  <!-- Header con título y filtros -->
  <div class="grid-header">
    <h2>{{ title }}</h2>
    <div class="filters">
      <input type="text" placeholder="Search..." />
      <select>
        <option>Filter 1</option>
        <option>Filter 2</option>
      </select>
    </div>
    <div class="orders">
      <select>
        <option>Order by </option>
      </select>
      <select>
        <option>Order by </option>
      </select>
      <select>
        <option>Order by </option>
      </select>

    </div>
  </div>

  <!-- Lista de Cards -->
  <div class="grid-content">

    <div class="grid-item card">
      <p>elemento de prueba</p>
    </div>

    <div class="grid-item card">
      <p>elemento de prueba</p>
    </div>

    <div class="grid-item card">
      <p>elemento de prueba</p>
    </div>

    <div class="grid-item card">
      <p>elemento de prueba</p>
    </div>

    <div class="grid-item card">
      <p>elemento de prueba</p>
    </div>

    <div class="grid-item card">
      <p>elemento de prueba</p>
    </div>

    <div class="grid-item card">
      <p>elemento de prueba</p>
    </div>

    <!--<div class="grid-item" *ngFor="let item of items">-->
    <!---->
    <!--</div>-->
  </div>
</div>
