<h1>
  {{translate(translationCodes.TC_MANAGEMENT_AVAILABILITY_TIME_SLOT_DIRECTORY)}}
</h1>

<button class="button" (click)="redirectToRegisterSlot()">
  {{translate(translationCodes.TC_REGISTER_BUTTON_LABEL)}}
</button>

<table border="1">
  <thead>
    <tr>

      <th>{{translate(translationCodes.TC_AVAILABILITY_TIME_SLOT_DIRECTORY_TABLE_UUID_LABEL)}}</th>
      <th>{{translate(translationCodes.TC_AVAILABILITY_TIME_SLOT_DIRECTORY_TABLE_DATE_LABEL)}}</th>
      <th>{{translate(translationCodes.TC_AVAILABILITY_TIME_SLOT_DIRECTORY_TABLE_START_TIME_LABEL)}}</th>
      <th>{{translate(translationCodes.TC_AVAILABILITY_TIME_SLOT_DIRECTORY_TABLE_END_TIME_LABEL)}}</th>
      <th>{{translate(translationCodes.TC_AVAILABILITY_TIME_SLOT_DIRECTORY_TABLE_ASSISTANT_LABEL)}}</th>
      <th>{{translate(translationCodes.TC_AVAILABILITY_TIME_SLOT_DIRECTORY_TABLE_STATUS_LABEL)}}</th>
      <th>{{translate(translationCodes.TC_AVAILABILITY_TIME_SLOT_DIRECTORY_TABLE_UNAVAILABLE_SLOTS_LABEL)}}</th>
      <th>{{translate(translationCodes.TC_AVAILABILITY_TIME_SLOT_DIRECTORY_TABLE_ACTIONS_LABEL)}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let slot of slots">
      <td>{{ slot.uuid }}</td>
      <td>{{ slot.date }}</td>
      <td>{{ slot.startTime }}</td>
      <td>{{ slot.endTime }}</td>
      <td>{{ slot.assistant.name }}</td>
      <td>{{ slot.status }}</td>
      <td>
        <ul>
          <li *ngFor="let slot of slot.unavailableTimeSlots">
            {{ slot.startTime }} - {{ slot.endTime }}
          </li>
        </ul>
      </td>
      <td>
        <button class="button" (click)="redirectToEditSlot(slot)">
          {{translate(translationCodes.TC_EDIT_BUTTON_LABEL)}}
        </button>
      </td>
    </tr>
  </tbody>
</table>
