@use '../../../styles/variables.scss' as variables;
@use '../../../styles/mixins.scss' as mixins;
@use '../../../styles/breakpoints.scss' as breakpoints;

.main-section {
  padding-right: variables.$padding-md;
  padding-left: variables.$padding-md;
  padding-top: variables.$padding-lg;
  padding-bottom: variables.$padding-lg;

}

.summary {
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  display: flex;
  gap: variables.$spacing-md;

  .summary-item {
    @include mixins.flex-start;
    flex-direction: column;
    width: 100%;
    gap: variables.$spacing-sm;
    padding: variables.$padding-md;
  }
}


.card-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: variables.$bg-subtle;
  border-bottom: 1px solid variables.$border;

  &:last-child {
    border-bottom: 1px solid transparent;

    border-bottom-left-radius: variables.$border-radius-sm;
    border-bottom-right-radius: variables.$border-radius-sm;
  }
}

.card-header {
  display: flex;
  // border-bottom: 1px solid variables.$border-subtle;
  justify-content: space-between;
  align-items: center;
  // gap: variables.$spacing-base;
  padding: variables.$padding-md;
  border-bottom: 1px solid transparent;

  &.expanded {
    border-bottom: 1px solid variables.$border-subtle;
  }

  button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    height: auto;
    width: auto;

    mat-icon {
      width: 1.5rem;
      height: 1.5rem;
      font-size: 1.5rem;
      transition: transform 0.3s ease;
    }

    &.clicked>mat-icon {
      transform: rotate(90deg);
    }
  }

  .card-title {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: variables.$spacing-base;
    // padding-bottom: variables.$padding-md;
  }
}


.card-body {
  max-height: 0;
  overflow: hidden;
  // transition: max-height 0.3s ease, padding 0.3s ease;
  transition: max-height 0.3s ease,
  opacity 0.3s ease,
  visibility 0.3s ease,
  #{variables.$color-transition};
  will-change: height;
  visibility: hidden;
  opacity: 0;


  &.expanded {
    max-height: 1000px;
    visibility: visible;
    opacity: 1;
  }




  .slot-actions {
    display: flex;
    flex-direction: column;
    padding-top: variables.$padding-md;
    padding-bottom: variables.$padding-md;

    .actions {
      display: flex;
      flex-wrap: wrap;
      gap: variables.$spacing-md;

      button {
        width: auto;
        padding: variables.$spacing-sm;
      }

    }
  }
}
