<h1>{{translate(translationCodes.TC_MANAGEMENT_ASSISTANT_DIRECTORY)}}</h1>

<button class="button" (click)="redirectToRegisterAssistant()">
  {{translate(translationCodes.TC_REGISTER_BUTTON_LABEL)}}
</button>

<table border="1">
  <thead>
    <tr>
      <th>{{translate(translationCodes.TC_ASSISTANT_DIRECTORY_TABLE_NAME_LABEL)}}</th>
      <th>{{translate(translationCodes.TC_ASSISTANT_DIRECTORY_TABLE_EMAIL_LABEL)}}</th>
      <th>{{translate(translationCodes.TC_ASSISTANT_DIRECTORY_TABLE_PHONE_NUMBER_LABEL)}}</th>
      <th>{{translate(translationCodes.TC_ASSISTANT_DIRECTORY_TABLE_USERNAME_LABEL)}}</th>
      <th>{{translate(translationCodes.TC_ASSISTANT_DIRECTORY_TABLE_STATUS_LABEL)}}</th>
      <th>{{translate(translationCodes.TC_ASSISTANT_DIRECTORY_TABLE_CREATED_AT_LABEL)}}</th>
      <th>{{translate(translationCodes.TC_ASSISTANT_DIRECTORY_TABLE_ACTIONS_LABEL)}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let assistant of assistants">
      <td>{{assistant.name}}</td>
      <td>{{assistant.email}}</td>
      <td>{{assistant.phoneNumber}}</td>
      <td>{{assistant.username}}</td>
      <td>{{assistant.status}}</td>
      <td>{{assistant.createdAt}}</td>
      <td>
        <button class="button" (click)="redirectToEditAssistant(assistant)">
          {{translate(translationCodes.TC_EDIT_BUTTON_LABEL)}}
        </button>
      </td>
    </tr>

  </tbody>
</table>
