@use '../../../styles/variables.scss' as variables;
@use '../../../styles/mixins.scss' as mixins;
@use '../../../styles/breakpoints.scss' as breakpoints;
@use 'sass:math';

.assistant-management-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding: variables.$padding-md;
  gap: variables.$spacing-large;
}

.assistant-management-title {
  width: 100%;
}

.assistant-summary {
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  display: flex;
  gap: variables.$spacing-medium;

  .assistant-summary-item {
    @include mixins.flex-start;
    flex-direction: column;
    // width: math.div(variables.$container-xs, 2);
    width: 100%;
    gap: variables.$spacing-small;
    padding: variables.$padding-md;
  }
}

.assistant-management-actions {
  width: 100%;

  @include mixins.flex-end;

}

.assistant-table-content {
  width: 100%;
}


@include mixins.respond-to(breakpoints.$breakpoint-lg) {
  .assistant-summary {

    .assistant-summary-item {
      width: math.div(variables.$container-xs, 2);
    }
  }
}
