<section class="main-section">
  <h1 class="m-bottom-md">{{translationCodes.TC_MANAGEMENT_ASSISTANT_DIRECTORY | translate}}</h1>
  <section class="summary m-bottom-xl">
    <div class="summary-item card">
      <span class="t-muted">{{translationCodes.TC_ASSISTANTS_REGISTERED_LABEL | translate}}</span>
      <span class="fw-bold fs-xl">{{assistants.length}}</span>
    </div>
    <div class="summary-item card">
      <span class="t-muted">{{translationCodes.TC_ASSISTANTS_AVAILABLE_LABEL | translate}}</span>
      <span class="fw-bold fs-xl">{{enabledClientsCount}}</span>
    </div>
    <div class="summary-item card">
      <span class="t-muted">{{translationCodes.TC_ASSISTANTS_NOT_AVAILABLE_LABEL | translate}}</span>
      <span class="fw-bold fs-xl">{{disabledClientsCount}}</span>
    </div>
  </section>


  <section class="data-container">
    <section class="data-actions">
      <div class="input container max-w-sm">
        <label class="input-icon" for="search"><mat-icon>search</mat-icon></label>
        <input id="search" class="input" type="text" placeholder="Buscar..." />
      </div>
      <button class="button primary w-auto" (click)="redirectToRegisterAssistant()">
        {{translationCodes.TC_REGISTER_BUTTON_LABEL | translate}}
      </button>
    </section>
    <div class="data-header">
      <span class="fw-bold">Asistentes registrados</span>
    </div>
    <div class="data-body table-type">
      <div class="assistant-data data-row-item" *ngFor="let data of assistants">
        <mat-icon class="profile-icon">support_agent</mat-icon>
        <div class="assistant-info">
          <span class="fw-bold">{{data.name}} ({{data.username}})</span>
          <span class="fs-sm t-secondary">{{data.email}}</span>
          <span class="fs-sm t-secondary">{{data.phoneNumber}}</span>
          <span class="fs-sm t-secondary">{{data.status! | translate}}</span>
        </div>
        <button class="button unbordered t-brand w-auto m-y-center" (click)="redirectToEditAssistant(data)">
          Editar
        </button>
      </div>
    </div>
  </section>
</section>
