@use '../mixins' as mixins;
@use '../breakpoints' as breakpoints;
@use '../variables' as variables;

.button {
  border-radius: variables.$border-radius-sm;
  background-color: variables.$button-primary-color;
  color: variables.$button-primary-text-color;
  padding: variables.$padding-md;
  cursor: pointer;
  border: none;
  width: 100%;
  max-height: variables.$button-size-base;
  @include mixins.flex-center;
  gap: variables.$spacing-small;
  transition: background-color variables.$transition-duration-fast variables.$ease-in, color variables.$transition-duration-fast variables.$ease-in;


  &:hover {
    background-color: scale(variables.$button-primary-color, variables.$lighten-factor)
  }
}

.button.primary {
  background-color: variables.$button-primary-color;
  color: variables.$button-primary-text-color;

  &:hover {
    background-color: scale(variables.$button-primary-color, variables.$lighten-factor)
  }

}

.button.secondary {
  background-color: variables.$button-secondary-color;
  color: variables.$button-secondary-text-color;

  &:hover {
    background-color: scale(variables.$button-secondary-color, variables.$lighten-factor)
  }
}

.button.success {
  background-color: variables.$button-success-color;
  color: variables.$button-success-text-color;
}


.button.danger {
  background-color: variables.$button-danger-color;
  color: variables.$button-danger-text-color;
}

.button.error {
  background-color: variables.$error-color;
  color: variables.$button-error-text-color;
}

.button.icon {
  background-color: transparent;
  border: 0;
}
