@use "../../../../styles/variables.scss" as variables;
@use "../../../../styles/breakpoints.scss" as breakpoints;


.breadcrumb {
  // background-color: blue;
  // padding-top: variables.$padding-sm;
  padding-bottom: 0;
  // padding-bottom: 0;
  // padding-top: 0;
  // width: 100%;
  // padding: variables.$padding-md;
  display: flex;
  gap: variables.$spacing-base;
}
