@use '../../../../styles/variables' as variables;

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color:variables.$background-color;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .main-container {
    display: flex;
  }

  .content {
    flex: 1;
  }
}
