/* Mobile First */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: red;
}

.navbar {
  height: 60px;
  width: 100%;
  background: blue;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;

}

.main-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  position:fixed;
  width:0px;
  height: calc(100vh - 60px);
  background: gray;
  color: white;
  transition: width 0.3s ease-in-out;
  overflow:hidden;
}

.sidebar.open {
  width: 250px;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background: #f4f4f4;
  overflow-y: auto;
}

// /* Desktop */
@media (min-width: 768px) {
  .main-container {
    display: flex;
  }

  .sidebar {
    position: relative;
    left: 0;
    height: auto;
    width: calc(1/4 * 250px);
  }

  .sidebar.open {
    width:250px;
  }

  .content {
    flex: 1;
  }
}
