<h1>{{translate(translationCodes.TC_MANAGEMENT_SERVICE_DIRECTORY)}}</h1>

<button class="button" (click)="redirectToRegisterService()">
  {{translate(translationCodes.TC_REGISTER_BUTTON_LABEL)}}
</button>

<table border="1">
  <thead>
    <tr>
      <th>{{translate(translationCodes.TC_SERVICE_DIRECTORY_TABLE_NAME_LABEL)}}</th>
      <th>{{translate(translationCodes.TC_SERVICE_DIRECTORY_TABLE_DESCRIPTION_LABEL)}}</th>
      <th>{{translate(translationCodes.TC_SERVICE_DIRECTORY_TABLE_MINUTES_LABEL)}}</th>
      <th>{{translate(translationCodes.TC_SERVICE_DIRECTORY_TABLE_PRICE_LABEL)}}</th>
      <th>{{translate(translationCodes.TC_SERVICE_DIRECTORY_TABLE_STATUS_LABEL)}}</th>
      <th>{{translate(translationCodes.TC_SERVICE_DIRECTORY_TABLE_CREATED_AT_LABEL)}}</th>
      <th>{{translate(translationCodes.TC_SERVICE_DIRECTORY_TABLE_ACTIONS_LABEL)}}</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let service of services">
      <td>{{service.name}}</td>
      <td>{{service.description}}</td>
      <td>{{service.minutes}}</td>
      <td>{{service.price}}</td>
      <td>{{service.status}}</td>
      <td>{{service.createdAt}}</td>
      <td>
        <button class="button" (click)="redirectToEditService(service)">
          {{translate(translationCodes.TC_EDIT_BUTTON_LABEL)}}
        </button>
      </td>
    </tr>

  </tbody>
</table>
