<section class="main-section">
  <h1 class="m-bottom-md">Servicios</h1>

  <section class="summary m-bottom-xl">
    <div class="summary-item card">
      <span class="t-muted">{{translationCodes.TC_SERVICES_REGISTERED_LABEL | translate}}</span>
      <span class="fw-bold fs-xl">{{services.length}}</span>
    </div>
    <div class="summary-item card">
      <span class="t-muted">{{translationCodes.TC_SERVICES_AVAILABLE_LABEL | translate}}</span>
      <span class="fw-bold fs-xl">{{enabledServiceCount}}</span>
    </div>
    <div class="summary-item card">
      <span class="t-muted">{{translationCodes.TC_SERVICES_NOT_AVAILABLE_LABEL | translate}}</span>
      <span class="fw-bold fs-xl">{{disabledServiceCount}}</span>
    </div>
  </section>

  <section class="data-container">
    <section class="data-actions">
      <div class="input container max-w-sm">
        <label class="input-icon" for="search"><mat-icon>search</mat-icon></label>
        <input id="search" class="input" type="text" placeholder="Buscar..." />
      </div>
      <button class="button primary w-auto" (click)="redirectToRegisterService()">
        Registrar
      </button>
    </section>
    <section class="data-header">
      <span class="fw-bold">Servicios registrados</span>
    </section>
    <section class="data-body table-type">
      <div class="service-data data-row-item" *ngFor="let data of services">
        <mat-icon class="profile-icon">business_center</mat-icon>
        <div class="service-info">
          <span class="fw-bold">{{data.name}} ({{data.name}})</span>
          <span class="fs-sm t-secondary">{{data.price}}</span>
          <span class="fs-sm t-secondary">{{data.minutes}}</span>
          <span class="fs-sm t-secondary">{{data.description}}</span>
          <span class="fs-sm t-secondary">{{data.status | translate}}</span>
        </div>
        <button class="button unbordered t-brand w-auto m-y-center" (click)="redirectToEditService(data)">
          Editar
        </button>
      </div>
    </section>
  </section>

</section>
