<div class="edit-container">

  <ng-container *ngIf="assistant">

    <h1 class="t-center">
      Editar asistente
    </h1>
    <p class="t-center m-top-base">
      Actualiza la información del asistente.
    </p>
    <form class="form card m-top-md" (ngSubmit)="onSubmit()">
      <div class="form-body">

        <div class="form-input">
          <label for="username">
            {{ translate(translationCodes.TC_USERNAME_DATA_LABEL)}}
          </label>
          <input class="input" id="username" type="text" [(ngModel)]="this.assistant.username" name="username" required
            placeholder={{translate(translationCodes.TC_USERNAME_PLACEHOLDER_LABEL)}} />
          <app-error-validation-message-form [messages]="errorValidationMessage['username']" />
        </div>


        <div class="form-input">
          <label for="email">
            {{ translate(translationCodes.TC_EMAIL_DATA_LABEL)}}
          </label>
          <input class="input" id="email" type="text" [(ngModel)]="this.assistant.email" name="email" required
            placeholder={{translate(translationCodes.TC_EMAIL_PLACEHOLDER_LABEL)}} />
          <app-error-validation-message-form [messages]="errorValidationMessage['email']" />
        </div>


        <div class="form-input">
          <label for="phoneNumber">
            {{ translate(translationCodes.TC_PHONE_NUMBER_DATA_LABEL)}}
          </label>
          <input class="input" id="phoneNumber" type="text" [(ngModel)]="this.assistant.phoneNumber" name="phoneNumber"
            required placeholder={{translate(translationCodes.TC_PHONE_NUMBER_PLACEHOLDER_LABEL)}} />
          <app-error-validation-message-form [messages]="errorValidationMessage['phonenumber']" />
        </div>


        <div class="form-input">
          <label for="name">
            {{ translate(translationCodes.TC_NAME_DATA_LABEL)}}
          </label>
          <input class="input" id="name" type="text" [(ngModel)]="this.assistant.name" name="name" required
            placeholder={{translate(translationCodes.TC_NAME_PLACEHOLDER_LABEL)}} />
          <app-error-validation-message-form [messages]="errorValidationMessage['name']" />
        </div>

        <div class="status-options m-top-lg">
          <h2 class="m-bottom-base fw-regular fs-md m-top-lg">Gestionar cliente</h2>
          <p class="m-bottom-md">Opciones para activar, desactivar o eliminar el cliente.</p>
          <label class="m-bottom-md">
            <input type="radio" name="assistantStatus" [checked]="assistant.status === 'ENABLED'"
              (change)="enableAssistant(assistant.uuid)">
            <span class="t-muted">Activo</span>
          </label>
          <label class="m-bottom-lg">
            <input type="radio" name="assistantStatus" [checked]="assistant.status === 'DISABLED'"
              (change)="disableAssistant(assistant.uuid)">
            <span class="t-muted">Inactivo</span>
          </label>
          <button class="button danger w-auto" (click)="deleteAssistant(assistant.uuid)" type="button">
            <mat-icon class="f-text">delete</mat-icon>
            <span>
              Eliminar
            </span>
          </button>
          <p class="fs-xs">Esta acción es permanente y no se puede deshacer.</p>
          <ng-container *ngIf="systemMessage && systemMessage.length > 0">
            <span class="t-error m-top-base">
              {{ systemMessage}}
            </span>
          </ng-container>
        </div>

      </div>
      <div class="form-footer">
        <app-button-task type="submit" [loadingState]="loadingState"
          [text]="translate(translationCodes.TC_EDIT_BUTTON_LABEL)" />
      </div>






    </form>


  </ng-container>
</div>
