@use '../../../../../styles/variables.scss' as variables;
@use '../../../../../styles/breakpoints.scss' as breakpoints;
@use '../../../../../styles/mixins.scss' as mixins;
@use "sass:math";

.general-notification-container {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
}

.notification-content {
  width: 100%;
  display: flex;
  flex-direction: column;

  .notification-title {
    padding: variables.$padding-sm;
    border-bottom: variables.$border-width solid variables.$border-color;
  }

  .notification-data {
    padding: variables.$padding-sm;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .notification-message {
    flex: 1;
  }

}

.notification-icon {
  width: calc(math.div(100%, 4));
  @include mixins.flex-center;

  .icon {
    height: variables.$icon-size-md;
    width: variables.$icon-size-md;
    font-size: variables.$icon-size-md;
  }
}

@include mixins.respond-to(breakpoints.$breakpoint-md) {
  .notification-icon {
    width: calc(math.div(3, 16) * 100%);
  }
}
