@use '../../../styles/mixins.scss' as mixins;
@use '../../../styles/variables.scss' as variables;


.main-section {
  width: 100%;
  padding: variables.$padding-md;
}

.app-management {
  color: #8a8a8a;
}

.select-service {
  .service-card-container {
    width: 100%;
    position: relative;
    max-height: 250px;
    overflow-y: auto;

    .service-data {
      display: flex;
      gap: variables.$spacing-md;
      padding: variables.$padding-md;
      width: 100%;
      align-items: center;
      border-bottom: 1px solid variables.$border;

      &:last-child {
        border-bottom: 1px solid transparent;
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        mat-icon {
          font-size: 2.5rem;
          width: 2.5rem;
          height: 2.5rem;
        }
      }

      .service-info {
        flex: 1;
        word-break: break-word;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
    }
  }
}

.selected-service {
  .service-card-container {
    width: 100%;
    position: relative;

    .service-data {
      display: flex;
      gap: variables.$spacing-md;
      padding: variables.$padding-md;
      width: 100%;
      align-items: center;
      border-bottom: 1px solid variables.$border;

      &:last-child {
        border-bottom: 1px solid transparent;
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        mat-icon {
          font-size: 2.5rem;
          width: 2.5rem;
          height: 2.5rem;
        }
      }

      .service-info {
        flex: 1;
        word-break: break-word;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
    }
  }
}


.client-card-container {
  width: 100%;
  position: relative;
  max-height: 250px;
  overflow-y: auto;

  .client-data {
    display: flex;
    gap: variables.$spacing-md;
    padding: variables.$padding-md;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid variables.$border;

    &:last-child {
      border-bottom: 1px solid transparent;
    }

    .profile-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem;
      width: 2.5rem;
      height: 2.5rem;
    }

    .client-info {
      flex: 1;
      word-break: break-word;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
  }
}

.appointments-scheduled {

  .slot-container {
    display: flex;
    flex-wrap: wrap;
    gap: variables.$spacing-md;
    justify-content: center;
    padding: variables.$padding-md;


    .card-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

    }

    .card-header {
      display: flex;
      // border-bottom: 1px solid variables.$border-subtle;
      padding-bottom: variables.$padding-md;
      justify-content: space-between;
      align-items: center;
      gap: variables.$spacing-base;
      padding: variables.$padding-md;

      border-bottom: 1px solid transparent;

      &.expanded {
        border-bottom: 1px solid variables.$border-subtle;
      }

      button {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        height: auto;
        width: auto;

        mat-icon {
          width: 1.5rem;
          height: 1.5rem;
          font-size: 1.5rem;
          transition: transform 0.3s ease;
        }

        &.clicked>mat-icon {
          transform: rotate(90deg);
        }
      }

      .card-icon {
        background-color: variables.$bg-subtle;
        border-radius: 50%;
        height: auto;
        width: auto;

        mat-icon {
          margin: variables.$padding-sm;
          height: 2rem;
          width: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .card-title {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: variables.$spacing-base;
      }
    }


    .card-body {
      max-height: 0;
      overflow: hidden;
      // transition: max-height 0.3s ease, padding 0.3s ease;
      transition: max-height 0.3s ease,
      opacity 0.3s ease,
      visibility 0.3s ease,
      #{variables.$color-transition};
      will-change: height;
      visibility: hidden;
      opacity: 0;


      &.expanded {
        max-height: min-content;
        visibility: visible;
        opacity: 1;
      }

      .data-mgt {
        border-bottom: 1px solid variables.$border-subtle;
        // background-color: green;
        padding-bottom: variables.$padding-md;
      }


      .slot-data-row {
        display: flex;
        // flex-wrap: wrap;
        // background-color: green;
        justify-content: space-between;
        gap: variables.$spacing-base;
        // border-bottom: 1px solid variables.$border-subtle;
        padding-top: variables.$padding-sm;
        padding-bottom: variables.$padding-sm;


        &.type-inline {
          display: inline-flex;
          // background-color: green;
        }

        &.type-card {
          // border: 1px;
          border: 0;
          // border-color: variables.$border-subtle;
          // border-style: solid;
          border-radius: variables.$border-radius-md;
          background-color: variables.$bg-subtle;
        }


        .slot-data {
          // background-color: blue;
          display: flex;
          // max-width:150px;
          // flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          width: 100%;
          // background-color: gold;

          &.d-inline {
            display: inline;

            span {
              display: inline;
            }
          }

          span {
            font-size: variables.$font-size-sm;

            &.fs-xs {
              font-size: variables.$font-size-xs;
            }
          }

        }


      }


    }




    .slot-actions {
      display: flex;
      flex-direction: column;
      padding-top: variables.$padding-md;
      padding-bottom: variables.$padding-md;

      .actions {
        display: flex;
        flex-wrap: wrap;
        gap: variables.$spacing-md;

        button {
          width: auto;
          padding: variables.$spacing-sm;
        }

      }
    }
  }
}
