<section class="main-section">

  <div class="process" *ngIf="currentStep === 1">
    <h1 class="t-left m-bottom-md m-x-center t-center">Selecciona un día</h1>
    <section class="calendar data-section sp-bottom card max-w-md m-x-center m-top-md">
      <app-calendar [selectedDate]="selectedDate" (dateSelected)="onDateSelected($event)" [slots]="slots"
        (currentDateChange)="onCurrentDateChange($event)"></app-calendar>
    </section>
    <section class="process-buttons d-flex gap-md j-content-end max-w-md m-x-center m-bottom-lg">
      <button class="button primary w-auto" [disabled]="!selectedDate" [ngClass]="{'disabled': !selectedDate}"
        (click)=" nextStep()">Siguiente</button>
    </section>
  </div>

  <div class="process" *ngIf="currentStep === 2">
    <h1 class="t-center">¿Para qué cliente?</h1>
    <p class="t-center m-top-base">Buscar por un cliente existente...</p>
    <section class="select-client data-section p-all-none sp-bottom max-w-sm m-x-center m-top-md">
      <div class="data-container">
        <div class="data-actions">
          <div class="input container">
            <label class="input-icon" for="search"><mat-icon>search</mat-icon></label>
            <input id="search" class="input" type="text" placeholder="Buscar..." />
          </div>
        </div>
        <div class="data-header">
          <span class="fw-bold">Clientes registrados</span>
        </div>
        <div class="data-body table-type">

          <div class="data-body-no-data" *ngIf="clients?.length === 0">
            <mat-icon>search_off</mat-icon>
            <span>No se han encontrado registros</span>
          </div>
          <div class="client-card-container scroll-visible">
            <div class="client-data data-row-item" [class.selected-item-bg]="selectedClient?.uuid === data.uuid"
              (click)="selectedClient = data" *ngFor="let data of clients">
              <mat-icon class="profile-icon">person</mat-icon>
              <div class="client-info">
                <span class="fw-bold">{{data.name}}</span>
                <span class="fs-sm t-secondary">{{data.username}}</span>
                <!--<span class="fs-sm t-secondary">{{data.phoneNumber}}</span>-->
                <!--<span class="fs-sm t-secondary">{{data.status!}}</span>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="process-buttons d-flex gap-md j-content-between max-w-sm m-x-center m-bottom-lg">
      <button class="button secondary w-auto" (click)="prevStep()">Regresar</button>
      <button class="button primary w-auto" [disabled]="!selectedClient" [ngClass]="{'disabled': !selectedClient}"
        (click)="nextStep()">Siguiente</button>
    </section>

  </div>

  <div class="process" *ngIf="currentStep === 3">
    <h1 class="t-center">Selecciona los servicios</h1>
    <p class="t-center m-top-base">Escoge los servicios que deseas agendar</p>
    <section class="select-service data-section p-all-none sp-bottom max-w-sm m-x-center m-top-md">
      <div class="data-container">
        <div class="data-actions">
          <div class="input container">
            <label class="input-icon" for="search"><mat-icon>search</mat-icon></label>
            <input id="search" class="input" type="text" placeholder="Buscar..." />
          </div>
        </div>
        <div class="data-header">
          <span>Servicios disponibles en: {{selectedDate}}</span>
        </div>
        <div class="data-body table-type">
          <div class="data-body-no-data" *ngIf="servicesAvailable?.length === 0">
            <mat-icon>search_off</mat-icon>
            <span class="t-center">No se han encontrado servicios disponibles para este día</span>
          </div>
          <div class="service-card-container scroll-visible">
            <div class="service-data data-row-item" *ngFor="let serviceOffer of servicesAvailable">
              <div class="service-info">
                <h3 class="fs-base t-emphasis fw-bold service-name">{{ serviceOffer.name}}</h3>
                <div class="d-flex gap-base j-content-start a-items-center m-top-base">
                  <mat-icon>support_agent</mat-icon>
                  <span class="fs-sm">{{ serviceOffer.assistant?.name }}</span>
                </div>
                <div class="m-top-base">
                  <span class="fs-sm t-muted">$ {{ serviceOffer.price}}</span>
                  <span class="fs-sm t-muted m-left-base">-</span>
                  <span class="fs-sm t-muted m-left-base">{{ serviceOffer.minutes}} min</span>
                </div>
              </div>
              <button class="button bordered m-y-center w-auto p-all-sm" (click)="selectServiceOffer(serviceOffer)">
                <mat-icon class="brand">add</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="process-buttons d-flex gap-md j-content-between max-w-sm m-x-center m-bottom-lg ">
      <button class="button secondary w-auto" (click)="prevStep()">Regresar</button>
      <button class="button primary w-auto" [disabled]="selectedServicesOffer.length === 0"
        [ngClass]="{'disabled': selectedServicesOffer.length === 0 }" (click)="nextStep()">Siguiente</button>
    </section>

  </div>


  <div class="process" *ngIf="currentStep === 4">
    <h1 class="t-center">Ajusta tus horarios</h1>
    <p class="t-center m-top-base">Revisa los servicios y ajusta los horarios de acuerdo a tus tiempos</p>
    <section class="selected-service data-section p-all-none sp-bottom max-w-md m-x-center m-top-md">
      <div class="data-body-no-data" *ngIf="selectedServicesOffer?.length === 0">
        <mat-icon>search_off</mat-icon>
        <span>No se han seleccionado servicios.</span>
      </div>

      <div class="start-time-container m-bottom-md d-flex-col gap-base card data-section">
        <label for="globalStartTime">Hora de inicio de la cita:</label>
        <input type="time" id="globalStartTime" class="input" [(ngModel)]="globalStartTime"
          (change)="updateStartTimesFromGlobal()" step="1" />
      </div>

      <section class="selected-service data-section sp-bottom p-all-none max-w-md m-x-center m-top-md">
        <div class="data-body-no-data" *ngIf="selectedServicesOffer?.length === 0">
          <mat-icon>search_off</mat-icon>
          <span>No se han seleccionado servicios.</span>
        </div>

        <div class="wrapper" cdkDropList (cdkDropListDropped)="dropService($event)">
          <div class="service-data card"
            *ngFor="let serviceOffer of selectedServicesOffer; let i = index; trackBy: trackByUuid" cdkDrag>

            <ng-template cdkDragPreview>
              <div class="service-data card data-section drag-preview">
                <div class="service-draggable">
                  <span class="service-number">{{ i + 1 }}</span>
                  <mat-icon>drag_indicator</mat-icon>
                </div>
                <div class="service-info">
                  <h3 class="fs-base t-emphasis fw-bold service-name">{{ serviceOffer.name }}</h3>
                </div>
              </div>
            </ng-template>

            <ng-template cdkDragPlaceholder>
              <div class="service-data card placeholder"></div>
            </ng-template>

            <div class="service-draggable" cdkDragHandle>
              <mat-icon>drag_indicator</mat-icon>
            </div>

            <div class="service-info">
              <h3 class="fs-base t-emphasis fw-bold service-name">{{ i + 1 }} - {{ serviceOffer.name }}</h3>
              <div class="d-flex gap-base j-content-start a-items-center m-top-base">
                <mat-icon>support_agent</mat-icon>
                <span class="fs-sm">{{ serviceOffer.assistant?.name }}</span>
              </div>
              <div class="m-top-base">
                <span class="fs-sm t-muted">Precio: $ {{ serviceOffer.price }}</span>
                <span class="fs-sm t-muted m-left-base">-</span>
                <span class="fs-sm t-muted m-left-base">Duración: {{ serviceOffer.minutes }} min</span>
              </div>
              <div class="m-top-base d-flex gap-base">
                <span class="fs-sm w-auto t-muted">Hora de inicio:</span>
                <span class="fs-sm">{{ startTimes[serviceOffer.uuid] }}</span>
              </div>
              <div class="m-top-base d-flex gap-base">
                <span class="fs-sm w-auto t-muted">Fin:</span>
                <span class="fs-sm">{{ getEndTime(serviceOffer) }}</span>
              </div>
            </div>

            <button class="button bordered m-y-center w-auto p-all-sm" (click)="removeSelectedService(serviceOffer)">
              <mat-icon class="danger">delete</mat-icon>
            </button>

          </div>
        </div>

      </section>



    </section>

    <section class="process-buttons d-flex gap-md j-content-between max-w-md m-x-center m-bottom-lg">
      <button class="button secondary w-auto" (click)="prevStep()">Regresar</button>
      <button class="button primary w-auto" [disabled]="!allStartTimesDefined()"
        [ngClass]="{'disabled': !allStartTimesDefined()}" (click)="nextStep()">Siguiente</button>
    </section>


    <section class="appointments-scheduled data-section sp-bottom card max-w-md m-x-center">
      <section class="data-container">
        <section class="data-actions">
          <div class="grid-input-search input container">
            <label class="input-icon" for="search">
              <mat-icon>search</mat-icon>
            </label>
            <input id="search" class="input" type="text" placeholder="Buscar..." />
          </div>
        </section>

        <div class="data-header">
          <span class="fw-bold">Citas agendadas</span>
        </div>
        <div class="data-body table-type">

          <div class="data-body-no-data" *ngIf="scheduledAppointments?.length === 0">
            <mat-icon>search_off</mat-icon>
            <span>No se han encontrado registros</span>
          </div>
          <div class="card-container data-row-item accordion-type"
            *ngFor="let appointment of scheduledAppointments; let i = index">
            <div class="card-header" [class.expanded]="openedSlots.has(i)" (click)="toggleSlot(i)">
              <div class="card-icon">
                <mat-icon>person</mat-icon>
              </div>
              <div class="card-title d-flex">
                <div class="d-flex-col">
                  <span class="fs-base fw-bold t-emphasis m-bottom-base">
                    Cita con {{ appointment.client?.name}}
                  </span>
                  <span class="fs-sm t-muted">
                    {{ appointment.startDate | slotDateRange: (appointment.endDate)}}
                  </span>
                </div>
                <span class="fs-xs fw-bold" [ngClass]="{
        't-success': appointment.status === 'CONFIRMED',
        't-brand': appointment.status === 'SCHEDULED',
        't-danger': appointment.status === 'CANCELED',
        't-inverted': appointment.status === 'RESCHEDULED',
        't-muted': appointment.status === 'FINISHED',}">
                  {{ appointment.status }}
                </span>
              </div>

              <button [class.clicked]="openedSlots.has(i)">
                <mat-icon>
                  keyboard_arrow_right
                </mat-icon>
              </button>

            </div>
            <div class="card-body accordion-body" [class.expanded]="openedSlots.has(i)">
              <div class="wrapper  p-all-md">
                <div class="data-mgt">
                  <div class="slot-data-row unbordered">
                    <div class="slot-data d-flex-col">
                      <span class="t-muted">
                        Fecha de creación:
                      </span>
                      <span class="t-emphasis ">
                        {{ appointment.createdAt | readableDate }}
                      </span>
                    </div>
                    <div class="slot-data d-flex-col">
                      <span class="t-muted">
                        Fecha:
                      </span>
                      <span class="t-emphasis ">
                        {{ (appointment.startDate | slotDateRange: (appointment.endDate)).split('|')[0]}}
                      </span>
                    </div>
                  </div>
                  <div class="slot-data-row">
                    <div class="slot-data d-flex-col">
                      <span class="t-muted">
                        Hora de inicio:
                      </span>
                      <span class="t-emphasis ">
                        {{ appointment.startDate | readableTime }}
                      </span>
                    </div>
                    <div class="slot-data d-flex-col">
                      <span class="t-muted">
                        Hora de fin:
                      </span>
                      <span class="t-emphasis">
                        {{ appointment.endDate | readableTime }}
                      </span>
                    </div>
                  </div>
                  <div class="slot-data-row">
                    <div class="slot-data d-flex-col">
                      <span class="t-muted">
                        Estado:
                      </span>
                      <span class="t-emphasis">
                        {{ appointment.status }}
                      </span>
                    </div>
                    <div class="slot-data d-flex-col">
                      <span class="t-muted">
                        Costo:
                      </span>
                      <span class="t-emphasis">
                        $ {{ appointment.totalCost}}
                      </span>
                    </div>
                  </div>
                  <div class="slot-data-row">
                    <div class="slot-data d-flex-col">
                      <span class="t-muted">
                        Duración:
                      </span>
                      <span class="t-emphasis">
                        {{ appointment.startDate | durationDate:appointment.endDate }}
                      </span>
                    </div>
                  </div>

                  <div class="slot-data-row">
                    <div class="slot-data d-flex-col">
                      <span class="t-muted">
                        Identificador:
                      </span>
                      <span class="t-emphasis fs-xs">
                        {{ appointment.uuid }}
                      </span>
                    </div>
                  </div>
                </div>

                <div class="data-mgt m-bottom-md m-top-md">
                  <span class="t-muted">Cliente: </span>
                  <div class="slot-data-row unbordered">
                    <div class="slot-data d-flex-col">
                      <span class="t-muted">
                        Nombre:
                      </span>
                      <span class="t-emphasis">
                        {{ appointment.client?.name }}
                      </span>
                    </div>
                    <div class="slot-data d-flex-col">
                      <span class="t-muted">
                        Teléfono:
                      </span>
                      <span class="t-emphasis">
                        {{ appointment.client!.phoneNumber }}
                      </span>
                    </div>
                  </div>
                  <div class="slot-data-row">
                    <div class="slot-data d-flex-col">
                      <span class="t-muted">
                        Usuario:
                      </span>
                      <span class="t-emphasis">
                        {{ appointment.client?.username }}
                      </span>
                    </div>
                  </div>
                  <div class="slot-data-row">
                    <div class="slot-data d-flex-col">
                      <span class="t-muted">
                        Correo:
                      </span>
                      <span class="t-emphasis">
                        {{ appointment.client!.email }}
                      </span>
                    </div>
                  </div>
                </div>
                <span class="t-muted">Servicios: </span>
                <div class="slot-data-row type-card d-flex-col transparent p-all-sm m-top-base"
                  *ngFor="let scheduleService of appointment.scheduledServices">
                  <div class="slot-data d-inline">
                    <span class="t-muted">
                      Servicio:
                    </span>
                    <span class="t-emphasis m-left-base">
                      {{ scheduleService.service.name }}
                    </span>
                  </div>
                  <div class="slot-data d-inline">
                    <span class="t-muted">
                      Precio:
                    </span>
                    <span class="t-emphasis m-left-base">
                      $ {{ scheduleService.service.price }}
                    </span>
                  </div>
                  <div class="slot-data d-inline">
                    <span class="t-muted">
                      Fecha:
                    </span>
                    <span class="t-emphasis m-left-base">
                      {{ (scheduleService.service.startDate | slotDateRange: (scheduleService.service.endDate))}}
                    </span>
                  </div>
                  <div class="slot-data d-inline">
                    <span class="t-muted">
                      Duración:
                    </span>
                    <span class="t-emphasis m-left-base">
                      {{ scheduleService.service.startDate | durationDate:scheduleService.service.endDate}}
                    </span>
                  </div>
                </div>

                <span class="t-muted m-top-md">Asistentes: </span>
                <div class="slot-data-row type-card d-flex-col transparent p-all-sm m-top-base"
                  *ngFor="let scheduleService of appointment.scheduledServices">
                  <div class="slot-data d-inline">
                    <span class="t-muted">
                      Asistente:
                    </span>
                    <span class="t-emphasis m-left-base">
                      {{ scheduleService.assistant.name }}
                    </span>
                  </div>
                  <div class="slot-data d-inline">
                    <span class="t-muted">
                      Teléfono:
                    </span>
                    <span class="t-emphasis m-left-base">
                      {{ scheduleService.assistant.phoneNumber }}
                    </span>
                  </div>
                  <div class="slot-data d-inline">
                    <span class="t-muted">
                      Fecha de servicio:
                    </span>
                    <span class="t-emphasis">
                      {{ (scheduleService.service.startDate | slotDateRange: (scheduleService.service.endDate))}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>





  </div>


  <div class="process" *ngIf="currentStep === 5">
    <h1 class="t-center">Confirma tu cita</h1>
    <p class="t-center m-top-base">Revisa los servicios seleccionados y ajusta los tiempos antes de confirmar</p>
    <section class="summary data-section sp-bottom card max-w-md m-x-center m-top-md">
      <div class="slot-data-row">
        <div class="slot-data d-flex-col">
          <span class="fs-base t-muted"> Fecha:</span>
          <span class="fs-base t-emphasis"> {{ selectedDate }}</span>
          <span class="fs-base t-muted"> ({{ (selectedDate | readableDate).split(",")[0] }})</span>
        </div>
      </div>
      <div class="slot-data-row">
        <div class="slot-data d-flex-col">
          <span class="fs-base t-muted  "> Hora inicio:</span>
          <span class="fs-base t-emphasis"> {{ getEarliestStartTime() | readableTime }}</span>
        </div>
        <div class="slot-data d-flex-col">
          <span class="fs-base t-muted "> Hora fin:</span>
          <span class="fs-base t-emphasis"> {{ getEstimatedEndTime() | readableTime }}</span>
        </div>
      </div>
      <div class="slot-data-row">
        <div class="slot-data d-flex-col">
          <span class="fs-base t-muted "> Duración de la cita:</span>
          <span class="fs-base t-emphasis"> {{ getTotalMinutes() }} minutos</span>
        </div>
        <div class="slot-data d-flex-col">
          <span class="fs-base t-muted "> Total:</span>
          <span class="fs-base t-emphasis"> {{ getTotalPrice() | currency }}</span>
        </div>
      </div>


      <div class="slot-data-row d-flex-col">
        <span class="t-muted">Servicios: </span>
        <div class="slot-data-row type-card muted d-flex-col transparent p-all-sm"
          *ngFor="let scheduleService of selectedServicesOffer">
          <div class="slot-data d-inline">
            <span class="t-muted">
              Servicio:
            </span>
            <span class="t-emphasis m-left-base">
              {{scheduleService.name }}
            </span>
          </div>
          <div class="slot-data d-inline">
            <span class="t-muted">
              Precio:
            </span>
            <span class="t-emphasis m-left-base">
              $ {{ scheduleService.price }}
            </span>
          </div>
          <div class="slot-data d-inline">
            <span class="t-muted">
              Con asistente:
            </span>
            <span class="t-emphasis m-left-base">
              $ {{ scheduleService.assistant?.name }}
            </span>
          </div>
        </div>
      </div>


      <div class="d-flex-col gap-md m-top-base">
        <span class="t-danger t-center">
          {{ translate(systemMessage ?? translationCodes.TC_EMPTY) }}
        </span>
      </div>
    </section>


    <section class="process-buttons d-flex gap-md j-content-between max-w-md m-x-center  m-bottom-lg">
      <button class="button secondary w-auto" (click)="prevStep()">Regresar</button>
      <div class="d-flex gap-md">
        <button class="button primary w-auto" (click)="blockTimeRange()">Validar datos</button>
        <button class="button primary w-auto" (click)="registerAppointmentAsStaff()">Agendar cita</button>
      </div>
    </section>

  </div>











</section>
