@use '../../../../styles/variables.scss' as variables;
@use '../../../../styles/mixins.scss' as mixins;
@use '../../../../styles/breakpoints.scss' as breakpoints;
@use "sass:math";


.sidebar {
  width: 100%;
  height: 100%;
  transition: width 0.3s ease-in-out,
  opacity 0.3s ease,
  visibility 0.3s ease,
  #{variables.$color-transition};
  will-change: width;
  will-change: margin-left;
  transition: visibility 0.3s 'ease-in-out';
  padding-bottom: variables.$padding-md;
  display: flex;
  overflow: hidden;
  overflow-y: auto;
  flex-direction: column;
  background-color: variables.$bg-muted;
  z-index: variables.$z-index-top;
  visibility: hidden;

  .sidebar-bs-operations {
    flex-grow: 1;
  }

  li {
    flex: 1;

    &.active {
      background-color: variables.$bg-selected;
    }

    a,
    button {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-decoration: none;
      border: 0;
      border-radius: 0px;
      gap: variables.$spacing-sm;
      padding-top: variables.$padding-md;
      padding-bottom: variables.$padding-md;
      padding-left: calc(math.div((math.div(1, 4) * 250px), 2) - math.div(2rem, 2));

      .sidebar-icon {
        min-width: 2rem;
        max-width: 2rem;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      span {
        font-size: variables.$font-size-sm;
        opacity: 0;
        white-space: nowrap;
      }
    }



    &:not(.active):hover {
      background-color: variables.$bg-subtle;
    }

  }
}

.sidebar.open {

  visibility: visible;

  li a,
  li button {
    span {
      opacity: 1;
    }
  }
}

@include mixins.respond-to(breakpoints.$breakpoint-md) {
  .sidebar {
    visibility: visible;
  }

}
