@use '../../../../../styles/mixins.scss' as mixins;
@use '../../../../../styles/breakpoints.scss' as breakpoints;
@use '../../../../../styles/variables.scss' as variables;

.appointment-modal-container {
  padding-top: variables.$padding-lg;
  padding-right: variables.$padding-lg;
  padding-left: variables.$padding-lg;
  padding-bottom: variables.$padding-md;
  width: 90vw;
  max-height: 70dvh;
  min-height: auto;
  height: auto;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
}

.notification-img {
  width: 100%;
  height: 100%;
  min-width: 100px;
  min-height: 100px;
  @include mixins.flex-center;

  .icon {
    width: 100px;
    height: 100px;
    font-size: 100px;
  }

  img {
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
  }
}

.notification-title {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding: variables.$padding-md;
  border-bottom: 1px solid variables.$border;
}

.notification-content {
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  @include mixins.flex-start;
  text-align: left;
  padding: variables.$padding-md;

  .notification-message {
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    min-height: 150px;
    padding-top: variables.$padding-sm;
    padding-bottom: variables.$padding-sm;
    gap: variables.$spacing-sm;
  }

  .notification-buttons {
    width: 100%;
    height: 100%;
  }

}

.close-button-container {
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  margin: variables.$padding-md;

  .button {
    padding: 0;
    height: auto;
  }

  .close-button-icon {
    @include mixins.flex-center;
    width: 2rem;
    height: 2rem;
  }
}

@include mixins.respond-to(breakpoints.$breakpoint-md) {
  .appointment-modal-container {
    width: variables.$container-sm;
  }
}
