<section class="main-section">
  <h1 class="m-bottom-base">Bienvenido, {{accountData?.name}}</h1>
  <p class="m-bottom-lg">Aqui se muestran las citas generadas y proximas.</p>

  <section class="upcoming-appointments m-bottom-lg">
    <h2 class="m-bottom-md">Próximas citas</h2>
    <div class="data-body-no-data" *ngIf="upcomingAppointments?.length === 0">
      <mat-icon>search_off</mat-icon>
      <span>No hay citas registradas</span>
    </div>
    <ul>

      <li class="card d-flex-col" *ngFor="let appointment of upcomingAppointments">
        <div class="ua-header d-flex j-content-between gap-md m-bottom-md">
          <div class="ua-header-data d-flex-col m-bottom-md">
            <span class="fs-xs t-muted m-bottom-base">{{ appointment.startDate | readableDate}}</span>
            <span class="fs-lg t-emphasis fw-bold">{{ appointment.startDate | readableTime}}</span>
          </div>
          <div class="ua-header-status">
            <span class="fs-xs badge" [ngClass]="{
                 'confirmed': appointment.status === 'CONFIRMED',
        'scheduled': appointment.status === 'SCHEDULED',
        'canceled': appointment.status === 'CANCELED',
        'rescheduled': appointment.status === 'RESCHEDULED',
        'finished': appointment.status === 'FINISHED'
              }">{{ appointment.status}}</span>
          </div>
        </div>
        <div class="ua-body d-flex-col d-flex-1 gap-base m-bottom-md"
          *ngFor="let scheduleService of appointment.scheduledServices">
          <div class="d-flex-col gap-base">
            <span class="fs-md t-emphasis">{{scheduleService.service.name}}</span>
            <span class="fs-sm t-muted">con {{ scheduleService.assistant?.name}}</span>
          </div>
        </div>
        <div class="d-flex j-content-end">
          <button class="button unbordered t-brand w-auto">Ver detalles</button>
        </div>
      </li>


    </ul>
  </section>

  <section class="past-appointments">
    <h2 class="m-bottom-md">Citas pasadas</h2>
    <div class="data-body-no-data" *ngIf="pastAppointments.length === 0">
      <mat-icon>search_off</mat-icon>
      <span>No hay citas pasadas</span>
    </div>
    <ul>
      <li class="card d-flex-col" *ngFor="let appointment of pastAppointments">
        <div class="ua-header d-flex j-content-between gap-md m-bottom-md">
          <div class="ua-header-data d-flex-col m-bottom-md">
            <span class="fs-xs t-muted m-bottom-base">{{ appointment.startDate | readableDate}}</span>
            <span class="fs-lg t-emphasis fw-bold">{{ appointment.startDate | readableTime}}</span>
          </div>
          <div class="ua-header-status">
            <span class="fs-xs badge" [ngClass]="{
                 'confirmed': appointment.status === 'CONFIRMED',
        'scheduled': appointment.status === 'SCHEDULED',
        'canceled': appointment.status === 'CANCELED',
        'rescheduled': appointment.status === 'RESCHEDULED',
        'finished': appointment.status === 'FINISHED'
              }">{{ appointment.status}}</span>
          </div>
        </div>
        <div class="ua-body d-flex-col d-flex-1 gap-base m-bottom-md"
          *ngFor="let scheduleService of appointment.scheduledServices">
          <div class="d-flex-col gap-base">
            <span class="fs-md t-emphasis">{{scheduleService.service.name}}</span>
            <span class="fs-sm t-muted">con {{ scheduleService.assistant?.name}}</span>
          </div>
        </div>
        <div class="d-flex j-content-end">
          <button class="button unbordered t-brand w-auto">Ver detalles</button>
        </div>
      </li>
    </ul>
  </section>

</section>
