@use '../../../styles/variables.scss' as variables;
@use '../../../styles/mixins.scss' as mixins;




.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: variables.$padding-lg;
}

.form {
  max-width: variables.$container-sm;
}
