<header class="header">
  <div class="header-logo">
    Scheduling.com
  </div>
  <button class="header-button-toggle" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>

  <nav [ngClass]="{ 'open': menuOpen }" class="header-nav">
    <ul>
      <li>
        <a [routerLink]="[webRoutes.root]">Inicio</a>
      </li>
      <li>
        <a [routerLink]="[webRoutes.prices]">Prices</a>
      </li>
      <li>
        <a [routerLink]="[webRoutes.contact]">Contacto</a>
      </li>
      <li>
        <a [routerLink]="[webRoutes.login]">Iniciar sesión</a>
      </li>
      <li>
        <a [routerLink]="[webRoutes.signup]">Registrarse</a>
      </li>
    </ul>
  </nav>
</header>
