<div class="edit-container">
  <form class="form card max-w-sm" (ngSubmit)="onSubmit()" *ngIf="service">
    <div class="form-header">
      <h1 class="m-bottom-base">
        Editar servicio
      </h1>
      <p>
        Actualiza la información del servicio.
      </p>
    </div>
    <div class="form-body">
      <div class="form-input">
        <label for="name">
          {{ translate(translationCodes.TC_SERVICE_NAME_DATA_LABEL)}}
        </label>
        <input class="input" id="name" type="text" [(ngModel)]="service.name" name="name" required
          placeholder={{translate(translationCodes.TC_SERVICE_NAME_PLACEHOLDER_LABEL)}} />
        <app-error-validation-message-form [messages]="errorValidationMessage['name']" />
      </div>
      <div class="form-input">
        <label for="description">
          {{ translate(translationCodes.TC_SERVICE_DESCRIPTION_DATA_LABEL)}}
        </label>
        <input class="input" id="description" type="text" [(ngModel)]="service.description" name="description" required
          placeholder={{translate(translationCodes.TC_SERVICE_DESCRIPTION_PLACEHOLDER_LABEL)}} />
        <app-error-validation-message-form [messages]="errorValidationMessage['description']" />

      </div>
      <div class="form-input">
        <label for="minutes">
          {{ translate(translationCodes.TC_SERVICE_MINUTES_DATA_LABEL)}}
        </label>
        <input class="input" id="minutes" type="text" [(ngModel)]="service.minutes" name="minutes" required
          placeholder={{translate(translationCodes.TC_SERVICE_MINUTES_PLACEHOLDER_LABEL)}} />
        <app-error-validation-message-form [messages]="errorValidationMessage['minutes']" />
      </div>
      <div class="form-input">
        <label for="price">
          {{ translate(translationCodes.TC_SERVICE_PRICE_DATA_LABEL)}}
        </label>
        <input class="input" id="price" type="text" [(ngModel)]="service.price" name="price" required
          placeholder={{translate(translationCodes.TC_SERVICE_PRICE_PLACEHOLDER_LABEL)}} />
        <app-error-validation-message-form [messages]="errorValidationMessage['price']" />
      </div>

      <div class="status-options m-top-lg">
        <h2 class="m-bottom-base fw-regular fs-md m-top-lg">Gestionar servicio</h2>
        <p class="m-bottom-md">Opciones para activar, desactivar o eliminar el servicio.</p>
        <label class="m-bottom-md">
          <input type="radio" name="serviceStatus" [checked]="service.status === 'ENABLED'"
            (change)="enableService(service.uuid)">
          <span class="t-muted">Activo</span>
        </label>
        <label class="m-bottom-lg">
          <input type="radio" name="serviceStatus" [checked]="service.status === 'DISABLED'"
            (change)="disableService(service.uuid)">
          <span class="t-muted">Inactivo</span>
        </label>
        <button class="button danger w-auto" (click)="deleteService(service.uuid)" type="button">
          <mat-icon class="f-text">delete</mat-icon>
          <span>
            Eliminar
          </span>
        </button>
        <p class="fs-xs">Esta acción es permanente y no se puede deshacer.</p>
      </div>


    </div>
    <div class="form-footer">
      <app-button-task type="submit" [loadingState]="currentTaskState"
        [text]="translate(translationCodes.TC_EDIT_BUTTON_LABEL)" />
      <span class="system-error">
        {{translate(systemMessage ?? translationCodes.TC_EMPTY)}}
      </span>
    </div>
  </form>

</div>
