<div class="edit-container">
  <h1>
    {{translate(translationCodes.TC_MANAGEMENT_SERVICE_EDIT_DIRECTORY)}}
  </h1>


  <button class="button" (click)="disableService(service.uuid)" type="button">
    {{translate(translationCodes.TC_DISABLE_BUTTON_LABEL)}}
  </button>
  <button class="button" (click)="enableService(service.uuid)" type="button">
    {{translate(translationCodes.TC_ENABLE_BUTTON_LABEL)}}
  </button>
  <button class="button" (click)="deleteService(service.uuid)" type="button">
    {{translate(translationCodes.TC_DELETE_BUTTON_LABEL)}}
  </button>

  <form class="form" (ngSubmit)="onSubmit()">

    <label for="name">
      {{ translate(translationCodes.TC_SERVICE_NAME_DATA_LABEL)}}
    </label>
    <input class="input" id="name" type="text" [(ngModel)]="service.name" name="name" required
      placeholder={{translate(translationCodes.TC_SERVICE_NAME_PLACEHOLDER_LABEL)}} />
    <app-error-validation-message-form [messages]="errorValidationMessage['name']" />


    <label for="description">
      {{ translate(translationCodes.TC_SERVICE_DESCRIPTION_DATA_LABEL)}}
    </label>
    <input class="input" id="description" type="text" [(ngModel)]="service.description" name="description" required
      placeholder={{translate(translationCodes.TC_SERVICE_DESCRIPTION_PLACEHOLDER_LABEL)}} />
    <app-error-validation-message-form [messages]="errorValidationMessage['description']" />


    <label for="minutes">
      {{ translate(translationCodes.TC_SERVICE_MINUTES_DATA_LABEL)}}
    </label>
    <input class="input" id="minutes" type="text" [(ngModel)]="service.minutes" name="minutes" required
      placeholder={{translate(translationCodes.TC_SERVICE_MINUTES_PLACEHOLDER_LABEL)}} />
    <app-error-validation-message-form [messages]="errorValidationMessage['minutes']" />


    <label for="price">
      {{ translate(translationCodes.TC_SERVICE_PRICE_DATA_LABEL)}}
    </label>
    <input class="input" id="price" type="text" [(ngModel)]="service.price" name="price" required
      placeholder={{translate(translationCodes.TC_SERVICE_PRICE_PLACEHOLDER_LABEL)}} />
    <app-error-validation-message-form [messages]="errorValidationMessage['price']" />



    <app-button-task type="submit" [loadingState]="currentTaskState"
      [text]="translate(translationCodes.TC_EDIT_BUTTON_LABEL)" />
    <br>
    <br>
    {{translate(systemMessage ?? translationCodes.TC_EMPTY)}}
  </form>
</div>
