<p>edit-service works!</p>

<div class="edit-container">
  <h1>
    <!--{{translate(translationCodes.TC_SIGN_UP)}}-->
    Edit service
  </h1>
  <app-button (click)="disableService(service.uuid)" type="button">Desactivar</app-button>
  <app-button (click)="enableService(service.uuid)" type="button">Activar</app-button>
  <app-button (click)="deleteService(service.uuid)" type="button">Eliminar</app-button>



  <form (ngSubmit)="onSubmit()">

    <label for="name">
      <!--{{ translate(translationCodes.TC_USERNAME_DATA_LABEL)}}-->
      name
    </label>
    <app-text-input id="name" type="text" [(ngModel)]="service.name" name="name" required
      placeholder={{translate(translationCodes.TC_USERNAME_PLACEHOLDER_LABEL)}} />
    <app-error-validation-message-form [messages]="errorValidationMessage['name']" />


    <label for="description">
      <!--{{ translate(translationCodes.TC_EMAIL_DATA_LABEL)}}-->
      description
    </label>
    <app-text-input id="description" type="text" [(ngModel)]="service.description" name="description" required
      placeholder={{translate(translationCodes.TC_EMAIL_PLACEHOLDER_LABEL)}} />
    <app-error-validation-message-form [messages]="errorValidationMessage['description']" />


    <label for="minutes">
      <!--{{ translate(translationCodes.TC_PHONE_NUMBER_DATA_LABEL)}}-->
      minutes
    </label>
    <app-text-input id="minutes" type="text" [(ngModel)]="service.minutes" name="minutes" required
      placeholder={{translate(translationCodes.TC_PHONE_NUMBER_PLACEHOLDER_LABEL)}} />
    <app-error-validation-message-form [messages]="errorValidationMessage['minutes']" />


    <label for="price">
      <!--{{ translate(translationCodes.TC_NAME_DATA_LABEL)}}-->
      price
    </label>
    <app-text-input id="price" type="text" [(ngModel)]="service.price" name="price" required
      placeholder={{translate(translationCodes.TC_NAME_PLACEHOLDER_LABEL)}} />
    <app-error-validation-message-form [messages]="errorValidationMessage['price']" />



    <app-button-task type="submit" [loadingState]="currentTaskState"
      [text]="translate(translationCodes.TC_SIGN_UP_BUTTON_LABEL)" />
    <br>
    <br>
    {{translate(systemMessage ?? translationCodes.TC_EMPTY)}}
  </form>
</div>
