@use '../../../styles/variables.scss' as variables;
@use '../../../styles/mixins.scss' as mixins;


.edit-container {
  @include mixins.flex-center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: variables.$padding-lg;
}

.form {
  max-width: variables.$container-sm;
}

.status-options {
  border-top: 1px solid variables.$border;

  label {
    display: flex;
    align-items: center;
    gap: variables.$spacing-base;
  }
}
