<section class="main-section">
  <h1>Selecciona un asistente</h1>
  <p>Debes seleccionar un asistente que no tenga servicios asignados y seleccionar los servicios que quieres que el
    asistente pueda ofrecer</p>
  <div class="assistant-table-container">
    <table class="assistant-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Usuario</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of assistants">
          <td class="fw-bold">
            {{data.name}}
          </td>
          <td>{{data.username}}</td>
          <td>{{data.email}}</td>
          <td>{{data.phoneNumber}}</td>
          <td>{{data.status}}</td>
          <td>
            <button class="" (click)="getAssignedServicesOfAssistant(data.uuid)">
              Seleccionar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="assigned-services-container p-all-md">
  <h2>Servicios asignados del asistente</h2>
  <p>Estos son los servicios asignados al asistente:</p>
  <div class="service-table-container">
    <table class="service-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Estado</th>
          <th>Duración</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of servicesOfferAssigned">
          <td class="t-emphasis">{{data.name}}</td>
          <td class="t-muted">$ {{data.price}}</td>
          <td class="t-muted">{{data.status}}</td>
          <td class="t-muted">{{data.minutes}} minutos</td>
          <td class="actions">
            <button class="" (click)="enableAssignedService(data.uuid)">
              Activar
            </button>
            <button class="" (click)="disableAssignedService(data.uuid)">
              Desactivar
            </button>
            <button class="" (click)="deleteAssignedService(data.uuid)">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="all-services-container p-all-md">
  <h2>Servicios disponibles para asignar</h2>
  <p>Estos son los servicios que puedes asignar al asistente seleccionado:</p>
  <div class="service-table-container">
    <table class="service-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Duración</th>
          <th>Descripción</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of serviceNotAssignedOfAssistant">
          <td class="t-emphasis">{{data.name}}</td>
          <td class="t-muted">$ {{data.price}}</td>
          <td class="t-muted">{{data.minutes}} minutos</td>
          <td class="t-muted">{{data.description}}</td>
          <td class="t-muted">{{data.status}}</td>
          <td class="actions">
            <button class="btn btn-assign" (click)="assignService(data.uuid)">
              Asignar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

