<section class="main-section">

  <h1 class="m-bottom-base">Administración de citas</h1>
  <p class="m-bottom-lg">Visualiza todas tus citas en un solo lugar, organizadas por estado, con un resumen gráfico para
    un seguimiento rápido.</p>




  <div class="summary-data-management m-bottom-md">
    <div class="summary-item card">
      <span class="t-muted"> Citas confirmadas</span>
      <span class="fw-bold fs-xl">1</span>
    </div>
    <div class="summary-item card">
      <span class="t-muted">Citas pendientes</span>
      <span class="fw-bold fs-xl">2</span>
    </div>
    <div class="summary-item card">
      <span class="t-muted">Citas canceladas</span>
      <span class="fw-bold fs-xl">3</span>
    </div>
  </div>




  <section class="filters-data-management card p-all-md m-bottom-md">
    <div class="input container filter-item">
      <label class="input-icon" for="search">
        <mat-icon>search</mat-icon>
      </label>
      <input id="search" class="input" type="text" placeholder="Buscar..." />
    </div>

    <div class="input container filter-item">
      <label class="p-all-sm t-muted">De: </label>
      <input class="" type="date" [ngModel]="startDate" (ngModelChange)="onDateRangeChange($event, 'start')"
        placeholder="Hola" />
    </div>

    <div class="input container filter-item">
      <label class="p-all-sm t-muted">Hasta: </label>
      <input class="input " type="date" [ngModel]="endDate" (ngModelChange)="onDateRangeChange($event, 'end')" />
    </div>

    <div class="input container filter-item">
      <label class="p-all-sm t-muted">Hoy: </label>
      <span class="fs-sm">{{( today | readableDate).split(",")[0]}}</span>
    </div>

    <!--<div class="filter-item input">-->
    <!--  Filtro n-->
    <!--</div>-->
    <!---->
    <!--<div class="filter-item input">-->
    <!--  Filtro n-->
    <!--</div>-->
    <!---->
    <!--<div class="filter-item input">-->
    <!--  Filtro n-->
    <!--</div>-->
  </section>

  <div class="d-flex w-100 j-content-end">
    <button class="button primary w-auto m-bottom-md f-inverted" (click)="redirectToRegisterAppointment()">
      <mat-icon class="button-icon">add</mat-icon>
      Registrar nueva cita
    </button>
  </div>

  <section class="data-container">
    <div class="data-header">
      <span class="fw-bold">Citas agendadas</span>
    </div>

    <div class="data-body table-type">
      <div class="data-body-no-data" *ngIf="scheduledAppointments?.length === 0">
        <mat-icon>search_off</mat-icon>
        <span>No se han encontrado registros</span>
      </div>

      <div class="card-container data-row-item accordion-type"
        *ngFor="let appointment of scheduledAppointments; let i = index">
        <div class="card-header" [class.expanded]="openedSlots.has(i)" (click)="toggleSlot(i)">
          <div class="card-icon">
            <mat-icon>person</mat-icon>
          </div>
          <div class="card-title d-flex">
            <div class="d-flex-col">
              <span class="fs-base fw-bold t-emphasis m-bottom-base">
                Cita con {{ appointment.client!.name}}
              </span>
              <span class="fs-sm t-muted">
                {{ appointment.startDate | slotDateRange: (appointment.endDate)}}
              </span>
            </div>
            <span class="fs-xs fw-bold" [ngClass]="{
        't-success': appointment.status === 'CONFIRMED',
        't-brand': appointment.status === 'SCHEDULED',
        't-danger': appointment.status === 'CANCELED',
        't-inverted': appointment.status === 'RESCHEDULED',
        't-muted': appointment.status === 'FINISHED',}">
              {{ appointment.status }}
            </span>
          </div>

          <button [class.clicked]="openedSlots.has(i)">
            <mat-icon>
              keyboard_arrow_right
            </mat-icon>
          </button>

        </div>
        <div class="card-body accordion-body" [class.expanded]="openedSlots.has(i)">
          <div class="wrapper p-left-lg p-right-lg p-top-md p-bottom-lg">
            <div class="data-mgt">
              <div class="slot-data-row unbordered">
                <div class="slot-data d-flex-col">
                  <span class="t-muted">
                    Fecha:
                  </span>
                  <span class="t-emphasis ">
                    {{ (appointment.startDate | slotDateRange: (appointment.endDate)).split('|')[0]}}
                  </span>
                </div>
              </div>
              <div class="slot-data-row">
                <div class="slot-data d-flex-col">
                  <span class="t-muted">
                    Hora de inicio:
                  </span>
                  <span class="t-emphasis ">
                    {{ appointment.startDate | readableTime }}
                  </span>
                </div>
                <div class="slot-data d-flex-col">
                  <span class="t-muted">
                    Hora de fin:
                  </span>
                  <span class="t-emphasis">
                    {{ appointment.endDate | readableTime }}
                  </span>
                </div>
              </div>
              <div class="slot-data-row">
                <div class="slot-data d-flex-col">
                  <span class="t-muted">
                    Estado:
                  </span>
                  <span class="t-emphasis">
                    {{ appointment.status }}
                  </span>
                </div>
                <div class="slot-data d-flex-col">
                  <span class="t-muted">
                    Costo:
                  </span>
                  <span class="t-emphasis">
                    $ {{ appointment.totalCost}}
                  </span>
                </div>
              </div>
              <div class="slot-data-row">
                <div class="slot-data d-flex-col">
                  <span class="t-muted">
                    Duración:
                  </span>
                  <span class="t-emphasis">
                    {{ appointment.startDate | durationDate:appointment.endDate }}
                  </span>
                </div>
              </div>
              <div class="slot-data-row">
                <div class="slot-data  d-flex-col">
                  <span class="t-muted">
                    Fecha de creación:
                  </span>
                  <span class="t-emphasis fs-base">
                    {{ appointment.createdAt | readableDate }}
                  </span>
                </div>
              </div>
              <div class="slot-data-row">

              </div>



              <div class="slot-data-row">
                <div class="slot-data d-flex-col">
                  <span class="t-muted">
                    Identificador:
                  </span>
                  <span class="t-emphasis fs-base">
                    {{ appointment.uuid }}
                  </span>
                </div>
              </div>
            </div>

            <div class="data-mgt m-bottom-md m-top-md">
              <span class="t-muted">Cliente: </span>
              <div class="slot-data-row unbordered">
                <div class="slot-data d-flex-col">
                  <span class="t-muted">
                    Nombre:
                  </span>
                  <span class="t-emphasis">
                    {{ appointment.client!.name }}
                  </span>
                </div>
                <div class="slot-data d-flex-col">
                  <span class="t-muted">
                    Teléfono:
                  </span>
                  <span class="t-emphasis">
                    {{ appointment.client!.phoneNumber }}
                  </span>
                </div>
              </div>
              <div class="slot-data-row">
                <div class="slot-data d-flex-col">
                  <span class="t-muted">
                    Usuario:
                  </span>
                  <span class="t-emphasis">
                    {{ appointment.client?.username }}
                  </span>
                </div>
              </div>
              <div class="slot-data-row">
                <div class="slot-data d-flex-col">
                  <span class="t-muted">
                    Correo:
                  </span>
                  <span class="t-emphasis">
                    {{ appointment.client!.email }}
                  </span>
                </div>
              </div>
            </div>
            <span class="t-muted">Servicios: </span>
            <div class="slot-data-row type-card d-flex-col transparent p-all-sm m-top-base"
              *ngFor="let scheduleService of appointment.scheduledServices">
              <div class="slot-data d-inline">
                <span class="t-muted">
                  Servicio:
                </span>
                <span class="t-emphasis m-left-base">
                  {{ scheduleService.service.name }}
                </span>
              </div>
              <div class="slot-data d-inline">
                <span class="t-muted">
                  Precio:
                </span>
                <span class="t-emphasis m-left-base">
                  $ {{ scheduleService.service.price }}
                </span>
              </div>
              <div class="slot-data d-inline">
                <span class="t-muted">
                  Fecha:
                </span>
                <span class="t-emphasis m-left-base">
                  {{ (scheduleService.service.startDate | slotDateRange: (scheduleService.service.endDate))}}
                </span>
              </div>
              <div class="slot-data d-inline">
                <span class="t-muted">
                  Duración:
                </span>
                <span class="t-emphasis m-left-base">
                  {{ scheduleService.service.startDate | durationDate:scheduleService.service.endDate}}
                </span>
              </div>
            </div>

            <span class="t-muted m-top-md">Asistentes: </span>
            <div class="slot-data-row type-card d-flex-col transparent p-all-sm m-top-base"
              *ngFor="let scheduleService of appointment.scheduledServices">
              <div class="slot-data d-inline">
                <span class="t-muted">
                  Asistente:
                </span>
                <span class="t-emphasis m-left-base">
                  {{ scheduleService.assistant.name }}
                </span>
              </div>
              <div class="slot-data d-inline">
                <span class="t-muted">
                  Teléfono:
                </span>
                <span class="t-emphasis m-left-base">
                  {{ scheduleService.assistant.phoneNumber }}
                </span>
              </div>
              <div class="slot-data d-inline">
                <span class="t-muted">
                  Fecha de servicio:
                </span>
                <span class="t-emphasis">
                  {{ (scheduleService.service.startDate | slotDateRange: (scheduleService.service.endDate))}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
