@use '../../../styles/mixins.scss' as mixins;
@use '../../../styles/variables.scss' as variables;

.main-section {
  width: 100%;
  padding: variables.$padding-md;
}



.slot-container {
  display: flex;
  flex-wrap: wrap;
  gap: variables.$spacing-md;
  justify-content: center;


  .card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .card-header {
    display: flex;
    // border-bottom: 1px solid variables.$border-subtle;
    padding-bottom: variables.$padding-md;
    justify-content: space-between;
    align-items: center;
    gap: variables.$spacing-base;
    padding: variables.$padding-md;

    border-bottom: 1px solid transparent;

    &.expanded {
      border-bottom: 1px solid variables.$border-subtle;
    }

    button {
      background-color: transparent;
      border: 0;
      cursor: pointer;
      height: auto;
      width: auto;

      mat-icon {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1.5rem;
        transition: transform 0.3s ease;
      }

      &.clicked>mat-icon {
        transform: rotate(90deg);
      }
    }

    .card-title {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: variables.$spacing-base;
    }
  }


  .card-body {
    max-height: 0;
    overflow: hidden;
    // transition: max-height 0.3s ease, padding 0.3s ease;
    transition: max-height 0.3s ease,
    opacity 0.3s ease,
    visibility 0.3s ease,
    #{variables.$color-transition};
    will-change: height;
    visibility: hidden;
    opacity: 0;


    &.expanded {
      max-height: 1000px;
      visibility: visible;
      opacity: 1;
    }

    .slot-data-row {
      display: flex;
      justify-content: space-between;
      gap: variables.$spacing-base;
      border-bottom: 1px solid variables.$border-subtle;
      padding-top: variables.$padding-md;
      padding-bottom: variables.$padding-md;

      .slot-data {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;


        span {
          font-size: variables.$font-size-sm;
        }
      }
    }
  }




  .slot-actions {
    display: flex;
    flex-direction: column;
    padding-top: variables.$padding-md;
    padding-bottom: variables.$padding-md;

    .actions {
      display: flex;
      flex-wrap: wrap;
      gap: variables.$spacing-md;

      button {
        width: auto;
        padding: variables.$spacing-sm;
      }

    }
  }
}







.app-management {
  color: #8a8a8a;
}

.service-table {
  width: 100%;
  border-collapse: collapse;
  color: variables.$text;

  overflow-x: auto;

  thead {
    text-align: left;

    th {
      font-weight: bold;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid variables.$border;

    }

    td {
      vertical-align: middle;

      .actions {
        display: flex;
        // gap: 0.5rem;

      }
    }
  }
}
