<div class="client-management-container">

  <h1>{{translationCodes.TC_MANAGEMENT_CLIENT_DIRECTORY | translate}}</h1>

  <div class="client-table-content">
    <app-grid-list [title]="translationCodes.TC_MANAGEMENT_CLIENT_DIRECTORY" [items]="clients"
      [cardComponent]="clientCard"
      [filters]="[{key: 'status', label: 'Status'}, {key: 'createdAt', label: 'Creation Date'}]"
      [sortOptions]="[{key: 'name', label: 'Nombre'}, {key: 'status', label: 'Status'},{key: 'createdAt', label: 'Creation Date'}]">

      <button class="button" (click)="redirectToRegisterClient()">
        {{translationCodes.TC_REGISTER_BUTTON_LABEL | translate}}
      </button>

    </app-grid-list>

  </div>

</div>
