@use '../../../styles/variables.scss' as variables;
@use '../../../styles/mixins.scss' as mixins;
@use '../../../styles/breakpoints.scss' as breakpoints;
@use 'sass:math';


.client-data {
  display: flex;
  gap: variables.$spacing-md;
  padding: variables.$padding-md;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid variables.$border;

  &:last-child {
    border-bottom: 1px solid transparent;
  }

  .profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  .client-info {
    flex: 1;
    word-break: break-word;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
