@use '../../../styles/variables.scss' as variables;
@use '../../../styles/mixins.scss' as mixins;
@use '../../../styles/breakpoints.scss' as breakpoints;

.client-management-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: variables.$padding-md;
  gap: variables.$spacing-large;
}

.client-management-title {
  width: 100%;
}

.client-management-actions {
  width: 100%;

  @include mixins.flex-end;

}

.client-table-content {
  width: 100%;
}
