@use '../../../styles/mixins' as mixins;
@use '../../../styles/breakpoints' as breakpoints;
@use '../../../styles/variables' as variables;
@use "sass:math";

.container {
  @include mixins.flex-center;
  flex-direction: column;
  width: 100%;

  .container-body {
    width: 90%;
    padding-top: math.div(variables.$header-height, 2);

    @include mixins.respond-to(breakpoints.$breakpoint-lg) {
      max-width: variables.$container-xl;
      padding-top: variables.$header-height;
    }
  }
}

.presentation {
  @include mixins.flex-center;
  flex-direction: column;
  overflow: hidden;

  @include mixins.respond-to(breakpoints.$breakpoint-lg) {
    flex-direction: row;
  }
}

.presentation-data {
  @include mixins.flex-center;
  padding-top: variables.$padding-xl * 2;
  padding-bottom: variables.$padding-xl * 2;
  padding-left: variables.$padding-xl;
  padding-right: variables.$padding-xl;
  flex-direction: column;
  gap: variables.$spacing-medium;
  text-align: center;

  @include mixins.respond-to(breakpoints.$breakpoint-lg) {
    @include mixins.flex-start;
    padding-top: variables.$padding-xl * 4;
    padding-bottom: variables.$padding-xl * 4;
    text-align: left;
  }
}

.presentation-data>h1 {
  font-size: variables.$font-size-xl * 2;
}

.presentation-data-buttons {
  @include mixins.flex-center;
  flex-direction: column;
  gap: variables.$spacing-medium;
  width: 70%;

  button {
    width: 100%;
  }

  @include mixins.respond-to(breakpoints.$breakpoint-lg) {
    width: 60%;
  }

}

.presentation-img {
  @include mixins.flex-center;
  padding-top: variables.$padding-xl;
  padding-bottom: variables.$padding-xl;
  width: 95%;

}
