<div class="container">
  <app-landing-page-header class="header"></app-landing-page-header>
  <div class="container-body">
    <section class="presentation card">

      <div class="presentation-data">
        <h1>The best way to schedule appointments</h1>

        <p class="secondary">A fully customizable scheduling experience for individuals, businesses taking calls and developers building
          scheduling platforms where users meet users.
        </p>


        <div class="presentation-data-buttons">
          <button class="button" (click)="login()">
            {{translate(translationCodes.TC_LOGIN_BUTTON_LABEL)}}
          </button>
          <button class="button secondary" (click)="signUp()">
            {{translate(translationCodes.TC_SIGN_UP_BUTTON_LABEL)}}
          </button>
        </div>

      </div>
      <div class="presentation-img">
        <img class="image" src="/images/universe.svg">
      </div>



    </section>

    <br>

    <section class="test card">
      <p>Respaldos</p>
    </section>

    <br>

    <section class="test2 card">
      <p>beneficios</p>
    </section>

    <br>

    <section class="test3 card">
      <p>Caracteristicas principales</p>
    </section>


    <br>


    <section class="test4 card">
      <p> caracteristicas adicionales</p>
    </section>

    <section class="test5 card">
      <p>integraciones</p>
    </section>

    <br>
  </div>
  <footer>
    <p>data</p>
  </footer>

</div>
