<div class="container">
  <div class="container-body">
    <section class="item presentation card">

      <div class="presentation-data">
        <h1>The best way to schedule appointments</h1>

        <p class="secondary">A fully customizable scheduling experience for individuals, businesses taking calls and
          developers building
          scheduling platforms where users meet users.
        </p>


        <div class="presentation-data-buttons">
          <button class="button primary" (click)="login()">
            {{translate(translationCodes.TC_LOGIN_BUTTON_LABEL)}}
          </button>
          <button class="button secondary" (click)="signUp()">
            {{translate(translationCodes.TC_SIGN_UP_BUTTON_LABEL)}}
          </button>
        </div>

      </div>
      <div class="presentation-img">
        <img class="image" src="/images/universe.svg">
      </div>



    </section>


    <section class="test">
      <h1>Programar tus citas es más facil</h1>
      <p>Programacion de citas sin esfuerzo por ti o por tus clientes</p>
    </section>

    <br>

    <section class="test2">
      <div class="card">
        <h1>Crea tus servicios</h1>
        <p>Permite a tus clientes seleccionar los servicios para cada cita</p>
      </div>

      <div class="card">
        <h1>Establece tu disponibilidad</h1>
        <p>Hacemos mas facil establecer los horarios de disponibilidad o indisponibilidad</p>
      </div>

    </section>

    <br>

    <section class="test3 card">
      <p>Caracteristicas principales</p>
    </section>


    <br>


    <section class="test4 card">
      <p> caracteristicas adicionales</p>
    </section>

    <section class="test5 card">
      <p>integraciones</p>
      <hr>
      <br>
      <hr>
      <br>
      <hr>
      <br>
      <hr>
      <br>
      <hr>
      <br>
      <hr>
      <br>
      <hr>
      <br> <br>
      <hr>
      <br>
      <hr>
      <br>
      <hr>
      <br> <br>
      <hr>
      <br>
      <hr>
      <br>
      <hr>
      <br> <br>
      <hr>
      <br>
      <hr>
      <br>
      <hr>
      <br> <br>
      <hr>
      <br>
      <hr>
      <br>
      <hr>
      <br> <br>
      <hr>
      <br> <br>
      <hr>
      <br>
      <hr>
      <br>
      <hr>
      <br> <br>
      <hr>
      <br> <br>
      <hr>
      <br>
      <hr>
      <br>
      <hr>
      <br> <br>
      <hr>
      <br> <br>
      <hr>
      <br>
      <hr>
      <br>
      <hr>
      <br>
    </section>

    <br>
  </div>
  <footer>
    <p>data</p>
  </footer>

</div>
