<button class="button primary" [class.error]="loadingState === loadingStateType.UNSUCCESSFUL_TASK"
  [class.success]="loadingState === loadingStateType.SUCCESSFUL_TASK"
  [class.loading]="loadingState === loadingStateType.LOADING"
  [class.work-done]="loadingState === loadingStateType.WORK_DONE"
  [disabled]="loadingState === loadingStateType.WORK_DONE" [type]="type" [name]="name" [id]="id" (click)="onClick()">
  <ng-container [ngSwitch]="loadingState">
    <ng-container *ngSwitchCase="loadingStateType.NO_ACTION_PERFORMED">
      <span>
        {{text}}
      </span>
    </ng-container>
    <ng-container *ngSwitchCase="loadingStateType.LOADING">
      <span>
        <!--{{ translate(loadingState) }}-->
        Cargando...
      </span>
      <mat-icon class="loading-icon">loop</mat-icon>
    </ng-container>
    <ng-container *ngSwitchCase="loadingStateType.SUCCESSFUL_TASK">
      <span>
        Tarea completada exitosamente...
        <!--{{ translate(loadingState) }}-->
      </span>
      <mat-icon class="success-icon">check_circle</mat-icon>
    </ng-container>
    <ng-container *ngSwitchCase="loadingStateType.UNSUCCESSFUL_TASK">
      <span>
        No se pudo completar la tarea
        <!--{{ translate(loadingState) }}-->
      </span>
      <mat-icon>error</mat-icon>
    </ng-container>
    <ng-container *ngSwitchCase="loadingStateType.WORK_DONE">
      <span>
        {{ translate(loadingState) }}
      </span>
      <mat-icon>task_alt</mat-icon>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <span>
        {{ text }}
      </span>
    </ng-container>
  </ng-container>

</button>
