@use '../../../../styles/variables.scss' as variables;

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.loading-icon {
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes slideUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.success-icon {
  // animation: slideUp variables.$transition-duration-slow variables.$ease-out forwards;
  display: inline-block;
}
