@use '../../../styles/mixins.scss' as mixins;
@use '../../../styles/variables.scss' as variables;

.assistant-select {
  .assistants-container {
    max-height: 250px;
    overflow-y: auto;

    .assistant-card {
      display: flex;
      width: 100%;
      gap: variables.$spacing-base;
      // background-color: green;
      padding: variables.$padding-md;
      border-bottom: 1px solid variables.$border;

      &:last-child {
        border-bottom: 0px solid transparent;
      }

      .card-icon {
        background-color: variables.$bg-muted;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        // padding: variables.$padding-sm;

        &>mat-icon {
          font-size: 1.8rem;
          width: 1.8rem;
          height: 1.8rem;
          margin: variables.$spacing-base;
          // padding: variables.$padding-sm;
        }
      }

      .card-body {
        display: flex;
        flex: 1;
        // background-color: red;
        justify-content: center;
        flex-direction: column;
      }
    }
  }

  .assistant-summary {
    // background-color: red;
    display: flex;
    gap: variables.$spacing-md;
    flex-direction: column;

    div {
      display: flex;
      flex-direction: column;
    }
  }
}


.datetime-select {
  width: 100%;
}

.unavailability-slot {
  display: flex;
}
