@use '../../../styles/mixins.scss' as mixins;
@use '../../../styles/variables.scss' as variables;

.select-assistant {
  width: 100%;
  background-color: red;
}

.assistant-table {
  width: 100%;
  border-collapse: collapse;
  color: variables.$text;

  overflow-x: auto;

  thead {
    text-align: left;

    th {
      font-weight: bold;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid variables.$border;

    }

    td {
      vertical-align: middle;

      .actions {
        display: flex;
        // gap: 0.5rem;

      }
    }
  }
}

.register-container {
  width: 100%;
  padding: variables.$padding-md;
}


.form {
  max-width: variables.$container-lg;
}
